@import 'variables';
#exposeMask {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	display: block;
	//	opacity: 0.7;
	z-index: 9998;
	//	background-color: rgb(0, 0, 0);
}
div.overlay-outer {
	// width: 100%;
	// height: 100%;
	// z-index: 5000;
	// //height: auto;
	// overflow: visible;
	// position: absolute;
	// top: -50px;
	// //left: -15px;
	// min-height: 90%;
	background-color: rgba(0, 0, 0, 0.8);
	// display: block;
	//display: none;
}
div.overlay-inner {
	//width: 90%;
	//height: 100%;
	z-index: 5000;
	overflow: hidden;
	position: fixed;
	top: 5%;
	left: 5%;
	right: 5%;
	height: 100%;
	display: block;
	//opacity: 0;
	//background-color: $body-bg;
	//max-width: 1400px;
}

iframe#overlay {
	width: 100%;
	z-index: 5000;
	height: auto;
	overflow: scroll;
	position: relative;
	// margin-top: -59px;
	// margin-left: -70px;
	height: 90%;
	display: block;
	//border: solid 3px;
}
div#overlay-buttons {
	//background-color: plum;
	//background-image: url('close.png');
	overflow: visible;
	left: 03%;
	//width: 58px;
	height: 58px;
	position: fixed;
	top: 1.3%;
	display: block;
	//cursor: pointer;
	z-index: 5100;
}
div#close-overlay {
	//background-color: plum;
	//background-image: url('close.png');
	overflow: hidden;
	//left: 05%;
	width: 58px;
	height: 58px;
	position: relative;
	float: left;
	top: 2.3%;
	display: block;
	cursor: pointer;
	z-index: 5100;

	img {
		width: 58px;
		height: 58px;
		border-radius: 29px;
		box-shadow: $black;
		background-color: $cacolor;
	}
}
div#toTab-overlay {
	//background-color: plum;
	//background-image: url('close.png');
	overflow: hidden;
	//left: 05%;
	width: 56px;
	height: 56px;
	position: relative;
	float: left;
	margin-left: 9px;
	top: 2.3%;
	display: block;
	cursor: pointer;
	z-index: 5100;
	background-color: $cacolor;
	border-radius: 28px;
	img {
		width: 52px;
		height: 52px;
		border-radius: 28px;
		box-shadow: $black;
		margin: 3px;
	}
}

#loading {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0.7;
	background-color: #fff;
	z-index: 99;
}

#loading-image {
	z-index: 100;
	width: 22%;
	height: auto;
}
