@import 'variables';

.menu-left {
	position: fixed;
	top: 160px;
	left: 0px;
	height: 100vh;
	width: 65px;
	margin: 0;
	padding: 0;
	background: transparent;
	display: flexbox;
	align-items: center;
	//display: block;
	flex-direction: row;
	z-index: 398;
	button {
		text-align: center;
		line-height: 11px;
	}
}

#crumbs {
}
#crumbs a {
	font-size: x-small;
	color: rgb(0, 0, 0);
	cursor: pointer;
}
.crumbs,
.single-story-nav {
	background-color: $cacolor;
	border-style: solid;
	border-width: 1px;
	border-color: $cacolor;
	// border-top-color: lighten($cacolor, 20%);

	border-bottom-color: lighten($cacolor, 10%);
	padding: 0.6rem;
}
.crumbs {
	position: relative;

	display: flex;
	align-items: center;
	padding: 0.4rem;
	color: white;
	width: 65px;
	z-index: 10399;
	margin-left: 0;
	left: 0;
	height: 65px;
}
.single-story__btn,
.crumbs__btn {
	//position: fixed;
	background: transparent;
	border: none;
	//	margin-right: 1rem;
	cursor: pointer;
	color: white;
	align-self: center;
	align-content: space-around;
	svg {
		margin-top: 10px;
	}
}
.crumbs-drawer,
.single-story-drawer {
	display: none;
	background: rgba(0, 0, 0, 0.4);
	height: 100%;
	width: 100%;
	position: fixed;
	top: 58px;
	left: 0;
}
.single-story-nav {
	position: relative;
	background-color: $cacolor;
	display: flex;
	align-items: center;
	padding: 0.4rem;
	color: white;
	width: 65px;
	z-index: 10399;
	margin-left: 0;
	left: 0;
	height: 65px;
}
.single-story__btn {
	//position: fixed;
	background: transparent;
	border: none;
	//	margin-right: 1rem;
	cursor: pointer;
	color: white;
	align-self: center;
}
// .single-story-drawer {
// 	display: none;
// 	background: rgba(0, 0, 0, 0.4);
// 	height: 100%;
// 	width: 100%;
// 	position: fixed;
// 	top: 158px;
// 	left: 0;
// }
.single-story__menuentry {
	//height: 30px;
	// position: relative;
	border-radius: 3px;
	//background-color: $menuentry-bg;
	// padding: 1px;
	// margin: 1px;
	// text-align: center;
	// vertical-align: text-top;
	// font-size: 7pt;
	width: fit-content;
	// height: 25px;
	cursor: pointer;
}

.crumbs__title {
	align-self: center;
	font-family: $sans;
	font-size: 9px;
	line-height: $f1;
	text-align: left;
	color: white;
	font-weight: 400;
}

.crumbs__list,
.single-story__list {
	list-style: none;
	margin: 0;
	display: flex;
	flex-direction: column;
	padding: 1rem 2rem;
	width: 320px;
	background: rgba(255, 255, 255, 0.875);
	height: 100vh;
	transform: translateX(-400px);
	transition: transform 300ms;
	overflow-y: scroll;
	box-shadow: 5px 2px 5px 2px rgba(0, 0, 0, 0.2);
}
.crumbs__item {
	margin: 0.5rem 0;
}
// @media (min-width: 2600px) {
// 	.crumbs-drawer {
// 		display: block;
// 		position: static;
// 		height: auto;
// 		width: auto;
// 		margin-left: auto;
// 	}

// 	.crumbs__list {
// 		position: static;
// 		height: auto;
// 		width: max-content;
// 		background: inherit;
// 		padding: 0;
// 	}
// }
.crumbs__close,
.single-story__close {
	position: relative;
	//top: 60px;
	//left: 230px;
	background: transparent;
	align-self: flex-end;
	border: none;
	z-index: 2000;
	font-size: 2rem;
	cursor: pointer;
	color: grey;
}
.open-drawer {
	//top: 65px;
	left: 70px;

	display: block;
	z-index: 100;
	background: rgba(0, 0, 0, 0.4);
}
.slide-in {
	transform: translateX(0);
	z-index: 1000;
}
// .single-story-nav {
// 	position: relative;
// 	// top: -20px;
// 	// left: 0;
// 	// width: 100%;
// 	background-color: $left-bg;
// 	//float: left;
// 	//  min-height: 900px;
// 	margin-bottom: 3px;
// 	padding: 3px;
// 	height: 28px;
// }

// img#logo {
// 	position: relative;
// 	width: 230px;
// 	transform: rotate(random(20) + rad);
// 	// left: -50px;
// 	top: 90px;
// }
// #menu-container {
// 	position: relative;
// 	width: 100%;
// }
