@import 'variables';

.link-preview {
	position: absolute;
	top: 0;
	left: 100%;
	width: 300px;
	//	width: 200px;
	height: auto;
	//	flex-shrink: 2;

	border-radius: 20px;
	border-style: solid;
	border-width: 2px;
	box-shadow: 10px 10px 5px;
	overflow: hidden;
	background-color: rgba(255, 255, 255, 0.856);
	display: block;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 5vw;
	z-index: 30000;
	align-content: center;
}
.link-preview-inner {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 10px;
	display: flex;
	flex-direction: row;
	// min-height: 700px;
	margin: 0;
	align-content: center;
	//text-align: center;

	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
}
.title-text-container {
	flex-grow: 1;
	margin-left: 20px;
	position: relative;
	flex: 70%;
	min-width: 280px;
}
.ln-fab-material-div {
	position: relative;
	width: 120px;
	min-width: 120px;
	//	width: 200px;
	height: 120px;
	//	flex-shrink: 2;

	border-radius: 60px;
	border-style: dotted;
	border-width: 2.5px;
	overflow: hidden;
	img {
		width: 100%;
		height: auto;
	}
}
