$cacolor: #11808d;
//$cacolor: rgba(85, 160, 89, 0.92);

$blue: red;
$body-bg: rgb(255, 255, 255);
$black: #111213;
$story-bg: rgba(245, 245, 245, 0.137);

$item-bg: darken($story-bg, 5%);

$obj-bg: rgba(134, 255, 140, 0.12);
$texte-bg: lighten ($item-bg, 4%);
//side panel bg-color
$left-bg: $body-bg;
$menuentry-bg: $obj-bg;
//Title-bg-color
$title-bg: lighten ($story-bg, 1%);

$w: 20vw;
$ww: 20em;

//$h: 20vw;

//###margins
$margin0: 5px;
$m1: 4px;
$m2: 10px;
$m3: 24px;

//###fonts
$f0: inherit;
$f1: 11px;
$f2: 16px;
$f3: 20px;

$sans: 'LatoRegular';
$sans-light: 'LatoLight';
$serif: 'Linux Libertine';
//$serif: 'libre-bodoni';
$serif-d: 'Linux Libertine Display';
