@use 'sass:math';

@import 'patterns';
@import 'detail-overlay';

@import 'ln-preview';

@import 'left-nav';
@import 'variables';

//@import '@fontsource/libre-bodoni';

//@import 'LinLibertine';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.hidden {
	display: none;
}

//##################################

// @font-face {
// 	font-family: linux-libertine;
// 	src: __DIRNAME/assets/other_fonts/LinLibertine/LinLibertine;
// }
html {
	border: none;
}

div,
p,
table,
ul,
li,
td {
	font-family: $serif;
	font-size: $f2;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 300;
	line-height: $f3;
	text-align: left;
}
p {
	text-align: justify;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
	// margin-block-start: $margin0;
	// margin-block-end: $margin0;
	// margin-inline-start: $margin0;
	// margin-inline-end: $margin0;

	flex-grow: 1;
	text-size: 1.5em;
}

h1 {
	font-family: $serif-d;
	font-size: 62px;
	font-style: italic;
	font-variant: display;
	font-weight: 100;
	line-height: 40px;
}

h2 {
	font-family: $serif-d;
	font-size: 40px;
	font-style: normal;
	font-variant: display;
	font-weight: 100;
	line-height: 40px;
}

h3 {
	font-family: $serif-d;
	font-size: 17px;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	line-height: 23px;
}

h4 {
	font-family: $sans;
	font-size: $f2;
	font-style: oblique;
	font-variant: normal;
	font-weight: 400;
	line-height: 23px;
}

blockquote {
	font-family: $sans-light;
	font-size: 17px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	// line-height: 23px;
	color: $cacolor;
	//background: $obj-bg;
	margin: 0px;
	padding: 3px;
}
blockquote::first-letter {
	font-size: 34px;
	initial-letter: 2 1;
}
blockquote::part(last-letter) {
	font-size: 34px;
	initial-letter: 2 2;
}
blockquote::before {
	// 	color: #ccc;
	// //	content: open-quote;
	// 	font-size: 4em;
	// 	line-height: 0.1em;
	// 	margin-right: 0.25em;
	// 	vertical-align: -0.4em;
}
pre {
	font-family: $serif;
	font-size: 11px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 23px;
}

a {
	font-family: $serif;
	font-size: 17px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 23px;
}
body {
	margin: 0;
	font-size: 1em;
	background-color: $body-bg;
}

h1 {
	margin: 10px;
	text-align: center;
}
button {
	font-family: $sans;
	font-size: $f1;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 23px;
	text-align: left;
}

// p::first-letter {
// 	initial-letter: normal;
// }
.php-debug {
	position: fixed;
	top: 0;
	max-height: 40%;
	width: 100%;
	min-height: 0px;
	display: block;
	overflow: scroll;
	z-index: 100000;
}
.debug-div {
	background-color: $story-bg;
	// min-height: 700px;
	margin: 0 auto;
	position: relative;
	float: right;
	width: 25%;
	margin: 1px;
	z-index: 1000000;
	overflow: hidden;
}

#StoryMode {
	background: $story-bg;
	width: inherit;
	max-width: 2000px;
	//width: 1100px;
	position: relative;
	top: 0;
	left: auto;
	height: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}
.story-container {
	margin: 0 auto;
	margin-left: 70px;
	position: relative;
	margin-top: 0px;
	z-index: 20;
	flex-wrap: nowrap;
	flex-basis: 45%;
	flex-grow: 2;
	//	flex-shrink: 2;
	// border-right: 1px solid rgba(211, 211, 211, 0.638);
	// border-left: 1px solid rgba(211, 211, 211, 0.638);

	background-color: $story-bg;
	// min-height: 700px;
	order: 1;
	float: left;
	//	width: 700px;
	flex-basis: 47vw;
	flex-grow: 5;
	//flex-shrink: 2;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.story-container1 {
	background-color: $item-bg;
	// min-height: 700px;
	margin-left: 55px;
	//	float: right;
	order: 1;
	height: auto;
	flex-basis: 47vw;
	flex-grow: 5;
	//	flex-shrink: 2;
	left: 0px;
	max-width: 900px;
}
.story-container2 {
	background-color: $item-bg;
	// min-height: 700px;
	margin-left: 45px;
	//	float: right;
	order: 2;
	height: auto;
	flex-basis: 47vw;
	flex-grow: 5;
	//	flex-shrink: 2;
	max-width: 900px;
}
.story-container3 {
	background-color: $item-bg;
	// min-height: 700px;
	margin-left: 1px;
	//	float: right;
	order: 3;
	height: auto;
	flex-basis: 47vw;
	flex-grow: 5;
	//	flex-shrink: 2;
	display: none;
}

.single {
	max-width: 900px;
}
// @media (max-width: 1305px) {
// 	.title-container {
// 		height: 714px;
// 	}
// }
// @media (min-width: 1306px) {
// 	.title-container {
// 		height: 350px;
// 	}
// }

.title-container {
	display: flex;
	flex-direction: row;
	background-color: $title-bg;
	// min-height: 700px;
	margin: 0 auto;
	position: relative;
	width: 93%;
	margin-top: 28px;
	margin-bottom: 14px;
	//margin-left: 40px;
	z-index: 30;
	align-content: left;
	//text-align: center;
	padding: 10px;
	padding-left: 20px;
	border-bottom: 7px;
	flex-wrap: wrap;
	align-items: center;
	vertical-align: middle;
	justify-content: space-around;
	.h2 {
		text-align: center;
	}
}
.title-text-container {
	flex-grow: 0.8;
	margin-left: 56px;
	margin-top: 3px;

	position: relative;
	flex: 50%;
	//min-width: 280px;
	h5 {
		font-family: $serif;
		font-size: $f2;
		line-height: $f3;
		text-align: left;
		color: $black;
		margin-bottom: 15px;
	}

	p {
		font-family: $sans;
		font-size: $f1;
		line-height: $f2;
		text-align: left;
		color: $black;
		margin: 0;
	}
}
.fab_material_obj-rep_container {
	position: relative;
	width: 18vw;
	height: 18vw;
	max-width: 480px !important;
	max-height: 480px !important;
	margin-bottom: 1px;
	//	z-index: 300;
	//grid-column-start: 5;
	//grid-column-end: 7;
	vertical-align: middle;
	grid-row-start: 1;
	grid-row-end: 3;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;
	img {
		align-self: center;
	}
}
.fab_material_obj-rep {
	position: relative;
	margin-top: 4%;
	width: 180px;
	min-width: 180px;
	//	width: 200px;
	height: 180px;
	//	flex-shrink: 2;

	border-radius: 90px;
	border-style: dotted;
	border-width: 4px;
	overflow: hidden;
	img,
	.video-material {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%); /* Center the image */
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
// .story-container#story2 {
//     background-color: rgba(134, 175, 123, 0.8);
// }

// .story-container#story3 {
//     background-color: rgba(255, 234, 255, 0.75);
// }

.line-canvas1 {
	left: 0;
	position: absolute;
	top: 0;
	z-index: 5;
}
.dot-svg {
	z-index: 1000;
	grid-row-start: 1;
	grid-row-end: 2;
	order: 1;
	//align-self: flex-end;
	text-align: center;
	margin-inline-end: -10px;

	//margin: 5%;
	//background-color: white;
}
.svg-dot {
	z-index: 1100;
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 1;
	grid-column-end: 2;
	align-self: center;
	text-align: center;
	margin: 5%;
	cursor: pointer;
}

.story {
	position: relative;
	flex-flow: column nowrap;
	//height: 10000px;
	width: 100%;
	top: 0cm;
	left: 0cm;
}
//some conditional classes:
.story__item {
	background-color: transparent;
	perspective: 1000px;
	margin-bottom: 3px;
	z-index: 500;
	position: relative;
	//copied from the former parent of obj and text
	display: flex;
	align-items: center;
	//background-color: $item-bg;
	min-height: fit-content;
	height: min-content;

	&__obj {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 10fr 3fr;
		grid-auto-flow: column;
		//min-width: none;
		// max-width: 30%;
		align-self: center;
		align-content: center;
		//z-index: 501;
		//background-color: $obj-bg;
		padding-left: 0.3vw;
		padding-right: 0.3vw;
		margin-inline-end: 6px;
		margin-inline-start: 6px;

		flex-basis: 300;
		flex-grow: 4;
	}
	&__obj-rep-container {
		position: relative;
		@media screen and (max-width: 1249px) {
			width: $w;
		}
		@media screen and (min-width: 1250px) {
			width: $ww;
		}
		@media screen and (max-width: 1249px) {
			height: $w;
		}
		@media screen and (min-width: 1250px) {
			height: $ww;
		}
		//	z-index: 300;
		//grid-column-start: 5;
		//grid-column-end: 7;
		vertical-align: middle;
		grid-row-start: 1;
		grid-row-end: 3;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		justify-content: center;
		img {
			align-self: center;
		}
	}

	&__obj-rep {
		line-height: 1em;
		position: absolute;
		top: 0;
		left: 0;
		vertical-align: middle;
		line-height: $w;
		flex: auto;
		justify-content: space-around;
		@media screen and (min-width: 1250px) {
			height: $ww;
		}
		//margin: 2rem;
		//   margin-bottom: 10rem;
		//	margin-block-start: 10%;
		// margin-inline-start: 20px;
		// margin-inline-end: 15px;
		align-self: center;
		overflow: hidden;
		border: solid 2px rgba(255, 255, 255, 0.555);
		background-color: rgba(0, 0, 0, 0.031);
		@media screen and (max-width: 1249px) {
			width: $w;
		}
		@media screen and (min-width: 1250px) {
			width: $ww;
		}
		@media screen and (max-width: 1249px) {
			height: $w;
		}
		@media screen and (min-width: 1250px) {
			height: $ww;
		}
		img,
		.video-material {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%); /* Center the image */
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		blockquote {
			//	quotes: '\201C''\201D''\2018''\2019';
			margin: none;
			border-left: 0;
			font-size: 1.1em;
		}
		& > * {
			line-height: 1em;
			display: inline-block;
			//	height: 100%;
		}
		p,
		h1,
		h2,
		h3,
		h4,
		h5,
		h6,
		h7,
		h8,
		ul,
		li {
			font-family: $sans;
			line-height: 1.4em;
		}
		span.show-desc {
			line-height: 1.33em;
			font-family: $sans;
		}
		&.round {
			@media screen and (max-width: 1249px) {
				border-radius: $w * 0.5;
			}
			@media screen and (min-width: 1250px) {
				border-radius: $ww * 0.5;
			}
			border-radius: $w * 0.5;
			padding: 0;

			img,
			.video-material {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%); /* Center the image */
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
			:has(> blockquote) {
				border-radius: 0;
				padding: 7px;
				font-size: 0.8em;
				hyphens: auto;
			}
			blockquote::before {
				content: '';
				float: left;
				height: 100%;
				width: 50%;
				shape-outside: polygon(
					0 0,
					68% 0,
					54% 6%,
					43.4% 17.3%,
					36% 32.6%,
					30% 50%,
					36% 65.6%,
					43.4% 82.7%,
					54% 94%,
					68% 100%,
					0 100%
				);

				shape-margin: 17%;
				shape-rendering: optimizeSpeed;
				background: solid;
			}
		}
		&.round:has(> blockquote) {
			border-radius: 0;
		}
		&.blackout {
			box-shadow: 0px 0px $w * 0.25 $w * 0.25 rgba(0, 0, 0, 0.99),
				inset 0px 0px math.div($w, 3) math.div($w, 3)
					rgba(0, 0, 0, 0.99);
			border: $black 1px solid;
		}

		&.whiteout {
			box-shadow: 0px 0px $w * 0.25 $w * 0.25 rgba(255, 255, 255, 0.99),
				inset 0px 0px math.div($w, 3) math.div($w, 3)
					rgba(255, 255, 255, 0.199);
			border: rgb(255, 255, 255) 1px solid;
		}

		&.fadeout {
			box-shadow: 0px 0px $w * 0.25 $w * 0.25 $obj-bg,
				inset 0px 0px math.div($w, 3) math.div($w, 3) $obj-bg;
			border: $obj-bg 1px solid;

			//	z-index: 5;
		}

		// &:nth-of-type(even) {
		// 	margin-inline-end: 15px;
		// 	margin-inline-start: 20px;
		// 	border-color: red;
		//	}
	}
	&__obj-rep-img {
		//z-index: 3;
		align-self: center;
	}

	&__caption {
		//   top: 56px;
		//   left: -10px;
		//   //    border: solid 1px $black;
		//   //   background-color: gray;
		//grid-column-start: 5;
		//grid-column-end: 7;
		grid-row-start: 3;
		grid-row-end: 4;
		align-self: center;
		margin-top: 5%;
		display: inline-flex;
		align-items: flex-end;
		@media screen and (max-width: 1249px) {
			width: $w;
		}
		@media screen and (min-width: 1250px) {
			width: $ww;
		}
		p {
			font-family: $sans;
			font-size: $f1;
			line-height: $f1;
			text-align: left;
			color: $black;
		}
	}
	&__flip-card {
		background-color: $texte-bg;
		position: relative;
		width: auto;
		min-width: 180px;
		border-radius: 6px;
		padding: 4px;
		margin: 6px;
		display: block;
		width: 100%;
		flex-grow: 5;
		align-content: center;
		height: fit-content;
		height: -moz-fit-content;
		z-index: 1500;
	}

	&__texte {
		background-color: $texte-bg;
		position: relative;
		width: auto;
		height: 100%;
		height: -moz-fit-content;
		min-width: 180px;
		//   min-height: 100px;
		//   max-height: auto;
		//   left: 68px;
		//   top: -100px;
		border-radius: 6px;
		padding: 4px;
		//	z-index: 8;
		//   margin-bottom: 2rem;
		//grid-column-start: 1;
		//grid-column-end: 5;
		//grid-row-start: 1;
		//grid-row-end: 6;
		display: flex;
		flex-flow: column;
		align-content: center;
		// align-items:initial;
		align-items: center;

		justify-content: space-around;
		p {
			// margin-block-start: $margin0;
			// margin-block-end: $margin0;
			// margin-inline-start: $margin0;
			// margin-inline-end: $margin0;

			flex-grow: 1;
			font-size: $f2;
			line-height: $f3;
			text-align: left;

			-webkit-hyphens: auto;
			-ms-hyphens: auto;
			hyphens: auto;
			a {
				font-size: inherit;
			}
		}

		h3 {
			margin-block-start: 4%;
			margin-block-end: 4%;
			flex-grow: 1;
		}

		&__text1 {
			//        left: 26px;
			position: relative;
			margin-bottom: 7px;
			grid-column-start: 1;
			grid-column-end: 5;
			grid-row-start: 1;
			grid-row-end: 2;
			height: fit-content;
			height: -moz-fit-content;
			text-align: left;
			//	min-height: 100px;
		}

		&__text2 {
			//       left: 56px;
			position: relative;
			margin-bottom: 7px;
			grid-column-start: 1;
			grid-column-end: 5;
			grid-row-start: 2;
			grid-row-end: 4;
			height: fit-content;
			height: -moz-fit-content;
			text-align: left;

			//		min-height: 100px;
		}

		&__text3 {
			//       left: 56px;
			position: relative;
			grid-column-start: 1;
			grid-column-end: 5;
			grid-row-start: 4;
			grid-row-end: 6;
			height: fit-content;
			height: -moz-fit-content;
			//	min-height: 100px;
			text-align: left;
		}
	}
}
//### flipping function has been discarded for now
//.story__item__flip-card:active .flip-card-inner {
//	transform: rotateY(180deg);
//}

.flip-card-inner {
	position: relative;
	// width: 100%;
	text-align: left;
	transition: transform 0.8s;
	transform-style: preserve-3d;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
	display: block;
	// height: fit-content;
	// height: -moz-fit-content;
	height: 350px;
	overflow-y: auto;
	overflow-x: hidden;
}
/* Works on Firefox */
.flip-card-inner {
	scrollbar-width: none;
	scrollbar-color: $obj-bg $story-bg;
}

/* Works on Chrome, Edge, and Safari */
.flip-card-inner::-webkit-scrollbar {
	width: 0px;
}

.flip-card-inner::-webkit-scrollbar-track {
	background: $story-bg;
}

.flip-card-inner::-webkit-scrollbar-thumb {
	background-color: darken($obj-bg, 50%);
	border-radius: 20px;
	//	border: 3px solid darken($obj-bg, 50%);
}

.flopside {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	//height: -moz-fit-content;
	display: flex;
	flex-grow: 1;
	background-color: $item-bg;
	//background-color: rgb(255, 190, 190);
	-webkit-backface-visibility: hidden; /* Safari */
	backface-visibility: hidden;
	align-items: center;
	justify-content: space-around;
	padding: $m2;
	opacity: 1;
}

.flipside {
	position: absolute;

	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: $story-bg;
	color: white;
	transform: rotateY(180deg);
	-webkit-backface-visibility: hidden; /* Safari */
	backface-visibility: hidden;
}
.obj-left {
	display: flex;
	flex-flow: row nowrap;
	align-self: flex-start;
	.story__item__obj-rep-container {
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
	}
	.dot-svg {
		margin-inline-start: -10px;
	}
}
.obj-right {
	display: flex;
	flex-flow: row-reverse nowrap;
	align-self: flex-start;

	//	div.story__item__texte {
	//		left: auto;
	//	}
}
.missing-object {
	background-color: $cacolor;

	p {
		font-family: 'Courier New', Courier, monospace;
		font-size: 0.75em;
		text-align: left;
		color: white;
		margin: 5px;
		vertical-align: middle;
		padding: 10px;
		display: block;
	}
}

// div {
// 	border-color: rgb(0, 0, 0);
// 	border: solid 1px;
// 	z-index: 10000;
// }

//##################################

/*# sourceMappingURL=pattern.min.css.map */
