/* Webfont: Lato-Bold */@font-face {
    font-family: 'Lato';
    src: url('Lato/Lato-Bold.eot'); /* IE9 Compat Modes */
    src: url('Lato/Lato-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Lato/Lato-Bold.woff2') format('woff2'), /* Modern Browsers */
         url('Lato/Lato-Bold.woff') format('woff'), /* Modern Browsers */
         url('Lato/Lato-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-BoldItalic */@font-face {
    font-family: 'Lato';
    src: url('Lato/Lato-BoldItalic.eot'); /* IE9 Compat Modes */
    src: url('Lato/Lato-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Lato/Lato-BoldItalic.woff2') format('woff2'), /* Modern Browsers */
         url('Lato/Lato-BoldItalic.woff') format('woff'), /* Modern Browsers */
         url('Lato/Lato-BoldItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}
/* Webfont: Lato-Italic */@font-face {
    font-family: 'Lato';
    src: url('Lato/Lato-Italic.eot'); /* IE9 Compat Modes */
    src: url('Lato/Lato-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Lato/Lato-Italic.woff2') format('woff2'), /* Modern Browsers */
         url('Lato/Lato-Italic.woff') format('woff'), /* Modern Browsers */
         url('Lato/Lato-Italic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Regular */@font-face {
    font-family: 'Lato';
    src: url('Lato/Lato-Regular.eot'); /* IE9 Compat Modes */
    src: url('Lato/Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Lato/Lato-Regular.woff2') format('woff2'), /* Modern Browsers */
         url('Lato/Lato-Regular.woff') format('woff'), /* Modern Browsers */
         url('Lato/Lato-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
/* Webfont: Lato-Light */@font-face {
    font-family: 'LatoLight';
    src: url('Lato/Lato-Light.eot'); /* IE9 Compat Modes */
    src: url('Lato/Lato-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Lato/Lato-Light.woff2') format('woff2'), /* Modern Browsers */
         url('Lato/Lato-Light.woff') format('woff'), /* Modern Browsers */
         url('Lato/Lato-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-LightItalic */@font-face {
    font-family: 'LatoLight';
    src: url('Lato/Lato-LightItalic.eot'); /* IE9 Compat Modes */
    src: url('Lato/Lato-LightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Lato/Lato-LightItalic.woff2') format('woff2'), /* Modern Browsers */
         url('Lato/Lato-LightItalic.woff') format('woff'), /* Modern Browsers */
         url('Lato/Lato-LightItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/*Added for Storymode */
@font-face {
	font-family: 'Linux Libertine';
	src: url('./other_fonts/LinLibertine/LinLibertineZ.eot');
	src: local('./other_fonts/LinLibertine/Linux Libertine Semibold'),
		local('./other_fonts/LinLibertine/LinLibertineZ'),
		url('./other_fonts/LinLibertine/LinLibertineZ.eot?#iefix')
			format('embedded-opentype'),
		url('./other_fonts/LinLibertine/LinLibertineZ.woff2') format('woff2'),
		url('./other_fonts/LinLibertine/LinLibertineZ.woff') format('woff'),
		url('./other_fonts/LinLibertine/LinLibertineZ.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Linux Libertine';
	src: url('./other_fonts/LinLibertine/LinLibertine.eot');
	src: local('./other_fonts/LinLibertine/Linux Libertine'),
		local('./other_fonts/LinLibertine/LinLibertine'),
		url('./other_fonts/LinLibertine/LinLibertine.eot?#iefix')
			format('embedded-opentype'),
		url('./other_fonts/LinLibertine/LinLibertine.woff2') format('woff2'),
		url('./other_fonts/LinLibertine/LinLibertine.woff') format('woff'),
		url('./other_fonts/LinLibertine/LinLibertine.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Linux Libertine';
	src: url('./other_fonts/LinLibertine/LinLibertineI.eot');
	src: local('./other_fonts/LinLibertine/Linux Libertine Italic'),
		local('./other_fonts/LinLibertine/LinLibertineI'),
		url('./other_fonts/LinLibertine/LinLibertineI.eot?#iefix')
			format('embedded-opentype'),
		url('./other_fonts/LinLibertine/LinLibertineI.woff2') format('woff2'),
		url('./other_fonts/LinLibertine/LinLibertineI.woff') format('woff'),
		url('./other_fonts/LinLibertine/LinLibertineI.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Linux Libertine Mono';
	src: url('./other_fonts/LinLibertine/LinLibertine_M.eot');
	src: local('./other_fonts/LinLibertine/Linux Libertine Mono'),
		local('./other_fonts/LinLibertine/LinLibertine_M'),
		url('./other_fonts/LinLibertine/LinLibertine_M.eot?#iefix')
			format('embedded-opentype'),
		url('./other_fonts/LinLibertine/LinLibertine_M.woff2') format('woff2'),
		url('./other_fonts/LinLibertine/LinLibertine_M.woff') format('woff'),
		url('./other_fonts/LinLibertine/LinLibertine_M.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Linux Libertine Initials';
	src: url('./other_fonts/LinLibertine/LinLibertineI_1.eot');
	src: local('./other_fonts/LinLibertine/Linux Libertine Initials'),
		local('./other_fonts/LinLibertine/LinLibertineI'),
		url('./other_fonts/LinLibertine/LinLibertineI_1.eot?#iefix')
			format('embedded-opentype'),
		url('./other_fonts/LinLibertine/LinLibertineI_1.woff2') format('woff2'),
		url('./other_fonts/LinLibertine/LinLibertineI_1.woff') format('woff'),
		url('./other_fonts/LinLibertine/LinLibertineI_1.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Linux Libertine';
	src: url('./other_fonts/LinLibertine/LinLibertineB.eot');
	src: local('./other_fonts/LinLibertine/Linux Libertine Bold'),
		local('./other_fonts/LinLibertine/LinLibertineB'),
		url('./other_fonts/LinLibertine/LinLibertineB.eot?#iefix')
			format('embedded-opentype'),
		url('./other_fonts/LinLibertine/LinLibertineB.woff2') format('woff2'),
		url('./other_fonts/LinLibertine/LinLibertineB.woff') format('woff'),
		url('./other_fonts/LinLibertine/LinLibertineB.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Linux Libertine';
	src: url('./other_fonts/LinLibertine/LinLibertineZI.eot');
	src: local('./other_fonts/LinLibertine/Linux Libertine Semibold Italic'),
		local('./other_fonts/LinLibertine/LinLibertineZI'),
		url('./other_fonts/LinLibertine/LinLibertineZI.eot?#iefix')
			format('embedded-opentype'),
		url('./other_fonts/LinLibertine/LinLibertineZI.woff2') format('woff2'),
		url('./other_fonts/LinLibertine/LinLibertineZI.woff') format('woff'),
		url('./other_fonts/LinLibertine/LinLibertineZI.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Linux Libertine Display';
	src: url('./other_fonts/LinLibertine/LinLibertineDisplay.eot');
	src: local('./other_fonts/LinLibertine/Linux Libertine Display'),
		local('./other_fonts/LinLibertine/LinLibertineDisplay'),
		url('./other_fonts/LinLibertine/LinLibertineDisplay.eot?#iefix')
			format('embedded-opentype'),
		url('./other_fonts/LinLibertine/LinLibertineDisplay.woff2')
			format('woff2'),
		url('./other_fonts/LinLibertine/LinLibertineDisplay.woff')
			format('woff'),
		url('./other_fonts/LinLibertine/LinLibertineDisplay.ttf')
			format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Linux Libertine';
	src: url('./other_fonts/LinLibertine/LinLibertineBI.eot');
	src: local('./other_fonts/LinLibertine/Linux Libertine Bold Italic'),
		local('./other_fonts/LinLibertine/LinLibertineBI'),
		url('./other_fonts/LinLibertine/LinLibertineBI.eot?#iefix')
			format('embedded-opentype'),
		url('./other_fonts/LinLibertine/LinLibertineBI.woff2') format('woff2'),
		url('./other_fonts/LinLibertine/LinLibertineBI.woff') format('woff'),
		url('./other_fonts/LinLibertine/LinLibertineBI.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}


