/* almost black: #262626, dark gray: #454545, Med gray: #858585, light med gray: #ABABAB, light gray: #DEDEDE, very light grays: #E7E7E7, #EDEDED, #F5F5F5,  */

/* for accessibility 11808D converted to 11808D */
/* --------------------------------- */
/* GENERAL */
/* --------------------------------- */
/* added by emu START*/
.hidden{
	display: none;
}
#approaches-link{
}
/* to center the main navigation menu*/
.navbar-center-container {
    display: flex!important;
    justify-content: space-around;
    flex-basis: auto;
    flex-direction: row;
    position: relative;
    flex-wrap: nowrap;
    }
	/*front-page-stuff*/
.front-modal{
	position: fixed;
	top:0;
	left:0;
height: 100%;
overflow-y:hidden ;
	display: block;
background-color: white;

/* border: green 1px solid; */

width:100%;
z-index: 10;

margin-left: 0;
margin-right:0vw;

}
@media (max-width: 1060px) {
	.front-modal{
		padding-left: 10%;
		padding-right: 10%;
    }
}
@media (min-width: 1061px) {
	.front-modal{
		padding-left: 25%;
		padding-right: 25%;
    }
}
.front-modal-inner{
	position: relative;
height: 95%;
overflow-y:scroll ;
scrollbar-color: white;
	display: block;
background-color: white;
box-shadow: -6px 8px 860px 348px rgba( 17,128,141, 0.62),
inset 16px 17px 29px 36px rgba( 17,128,141, 0.62);	
/* border: green 1px solid; */

margin-left: 0;
margin-right:10vw;
background: none;
font-family:Linux Libertine;
max-width:960px;
margin-top:63px;
padding-top: 5%;
padding-bottom: 5%;
padding-left: 15px;
padding-right: 5px;
}
#circle-button-col{
	display: flex!important;
    justify-content: space-around;
    flex-basis: auto;
    flex-direction: row;
    position: relative;
    flex-wrap: nowrap;
	height: 85vh;
	align-items: flex-end;



}
#circle-button-container{
	/* height: 100%; */

	display: flex;
  
	position: relative;
  
	align-items: flex-end;
  
	flex-direction: row;
	flex-wrap: wrap;
}
    .circle-button {
		position: relative;

        width: 97px;
        height: 97px;
        border-radius: 50%;
        background: none;
        border:none;
        box-shadow: -1px -1px 20px rgba(255, 255, 255, 0.8), inset 0px 0px 60px rgba(255,255,255,0.8);
        cursor: pointer;
        transition: border-color 0.3s, box-shadow 0.3s;
        outline: none;
        font-size: inherit; /* Set font size to inherit from parent */
        /* font-weight: 600!important;
        color: rgba( 17,128,141, 0.62); */
        overflow:auto;
		margin: 10px;
		z-index: 12;
		margin: 20px;
    }
	#button-fabulationen{
		width:200px	;
	height:200px;
	margin-left:80px;
	margin-bottom: -22px;

	}
	#button-approaches{
		width:172px	;
	height:172px;
	}
	#button-dsg{
		margin-bottom: -12px;
	}
    
    .circle-button:hover {
        border-color: rgba(0, 0, 0, 0.2);
		box-shadow: 2px 2px 35px rgba(255, 255, 255, 1), inset 0px 0px 45px rgba(255,255,255,1);
    }

/* added by emu END (haha you whish - its all over the place*/

html {
    position: relative;
    min-height: 100%;
}
body {
    font-family: LatoLight;
    color: #454545;
    margin-bottom: 82px;
}
#skipNavigation a {
    position: absolute;
    margin-left: -3000px;
    width: 1;
    height: 1;
    overflow: hidden;
}
#skipNavigation a:focus,
#skipNavigation a:active {
    margin-left: 0px;
    width: auto;
    height: auto;
}
b,
strong {
    font-family: Lato;
}
a,
a:hover {
    color: #11808d;
}
a,
a:active,
a:focus {
    outline: 0;
    text-decoration: none;
}

H1,
h1,
H2,
h2,
H3,
h3,
H4,
h4,
H5,
h5,
H6,
h6 {
    font-family: lato;
    font-weight: normal;
    font-style: normal;
}
H1,
h1 {
    font-size: 20px;
    color: #000000;
    text-transform: uppercase;
    margin-top: 0px;
}
H1 .btn-group {
    text-transform: none;
}
H2,
h2 {
    font-size: 18px;
    color: #000000;
}
H3,
h3 {
    font-size: 16px;
    text-transform: uppercase;
    color: #000000;
}
H4,
h4 {
    font-size: 18px;
    color: #262626;
    line-height: 135%;
    text-transform: none;
}
H5
h5 {
    font-size: 15px;
    color: #757575;
    text-transform: none;
}
H6,
h6 {
    font-size: 13px;
    color: #454545;
    text-transform: uppercase;
    padding-bottom: 0px;
    margin: 10px 5px 5px 0px;
    display: inline;
}
.inline {
	font-style:oblique;
	font-size: 13px;	color: #454545;
	text-transform: uppercase;
    display: inline;
    position: relative;
}
.link {
    position: relative;
  }
  
  .link + .tooltip {
    visibility: hidden;
    width: auto;
    //min-width: 200px;
    /* background-color: black; */
    background-color: #11808d;
    color: white;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    position: absolute;
    z-index: 1000;
    bottom: 80%;
    left: 80%;
    transform: translateX(-50%);
      word-wrap: normal;
  white-space: pre-wrap;
   box-shadow: -2px 4px 8px rgba(0, 0, 0, 0.45);
  }
  #urltip{
    white-space: nowrap;
  }
  
  .link:hover + .tooltip {
    visibility: visible;
    opacity:1;
  }

    .ca-color {
    visibility: visible;
    width: 100%;/*
    background-color: black; */
    background-color: #11808d;
    color: white;
    text-align: left;
    padding: 5px;
    border-radius: 6px;
    display:block;
    position: relative;
    margin: 5px -5px 0px -5px;
    line-height: 1.6em;
/* position: relative;
    z-index: 1000;
    bottom: 150%;
    left: 50%;
    transform: translateX(-50%); */
  }
 .detail .ca-color a{
    color: white;
  }
   .detail .ca-color a:hover{
    color: white;
  }
.caption {
    font-size: 11px;
    color: #757575;
    padding-top: 5px;
}
label {
    display: inline-block;
    margin-bottom: 5px;
    font-size: 11px;
    text-transform: uppercase;
    font-family: lato;
    font-weight: normal;
}
.colBorderLeft {
    border-left: 1px solid #ededed;
}
.container {
    max-width: 5000px;
}
.form-control {
    font-size: 13px;}
.alignright {
    text-align: right;
}

/* buttons and utils */
.bGear:hover,
.bGear:active {
    cursor: pointer;
}
/*change the size of the gear next to page headers*/
h1 i {
    font-size: 14px;
    font-weight: normal;
    padding-bottom: 10px;
    color: #666;
}
.pointer {
    cursor: pointer;
}
.uppercase {
    text-transform: uppercase;
}
.caps {
    text-transform: uppercase;
}
.smaller {
    font-size: 0.7em;
}
.rowSmallPadding {
    margin-right: -6px;
    margin-left: -6px;
}
.smallpadding {
    padding: 6px;
}

.bViewButtons .disabled {
    pointer-events: all;
}

/* --------------------------------------------------------- */
/* ALERTS */
/* --------------------------------------------------------- */
.alert {
    -webkit-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
    background-image: none;
}
.alert-info {
    background-color: #edf8fd;
}
/* ----------------------------------------- */
/* notifications - these are taken from bootstrap alerts */
/* ----------------------------------------- */
.notificationMessage,
.notificationError,
.notificationInfo,
.notificationWarning {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.notificationMessage,
.notificationInfo {
    color: #3a87ad;
    background-color: #edf8fd;
    border-color: #bce8f1;
}
.notificationMessage a,
.notificationInfo {
    color: #3a87ad;
}
.notificationError {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
}
.notificationError a {
    color: #b94a48;
}
.notificationWarning {
    color: #c09853;
    background-color: #fcf8e3;
    border-color: #fbeed5;
}
.notificationWarning a {
    color: #c09853;
}
.progress-striped .progress-bar-success {
    background: none;
}
.progress-striped .progress-bar-info {
    background: none;
}
.progress-striped .progress-bar-warning {
    background: none;
}
.progress-striped .progress-bar-danger {
    background: none;
}
/* ----------------------------------------- */
/* navbar - styles override bootstrap styles */
/* ----------------------------------------- */
.navbar-toggle {
    margin-top: 12px;
    margin-bottom: 11px;
}
.navbar-toggle:focus {
    outline: none;
}
@media (min-width: 768px) {
    #user-navbar-toggle {
        display: none !important;
    }
}
@media (max-width: 767px) {
    #user-navbar {
        display: none !important;
    }
}
/* hide the about:: entry */
@media (max-width: 1161px) {
    .menuItems > li:nth-child(3) {
      display: none;
    }
  }
.navbar {
    border-radius: 0px;
    background-image: none;
    background-color: #ffffff;
    border-top: 0px;
    border: 0px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}
.navbar-collapse {
    -webkit-box-shadow: none;
    box-shadow: none;
}
@media (min-width: 768px) {
    .navbar-collapse {
        padding-right: 0;
        padding-left: 0;
    }
}
.navbar.active {
    font-weight: normal;
}
.dropdown-menu {
    font-size: 13px;    padding: 5px 0 5px 0;
    border-radius: 0px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.176);
    border: 1px solid #cccccc;
}
.navbar .navbar-nav > .active > a {
    background-color: #f5f5f5;
    color: #000000;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    background-color: #f5f5f5;
}
.nav > li > a,
.nav > li > a:hover,
.nav > li > a:focus {
    font-family: lato;
    /*font-size:11px;*/
    color: #000;
}
.navbar-brand,
.navbar-nav > li > a {
    text-shadow: 0 0px 0 rgba(255, 255, 255, 0.25);
}
.navbar-nav > li > a {
    line-height: 27px;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    background-color: #f5f5f5;
    background-image: none;
    filter: none;
    color: #000;
}
.navbar-default .navbar-nav > li > a {
    color: #000000;
}
.nav > li.dropdown > a.icon {
    font-size: 16px;
    padding-top: 17px;
    padding-bottom: 13px;
}
@media (min-width: 992px) {
    .nav > li.dropdown > a.icon {
        font-size: 18px;
    }
    .nav > li > a,
    .nav > li > a:hover,
    .nav > li > a:focus {
        font-size: 14px;
    }
}
@media (min-width: 1160px) {
    .nav > li > a {
        /*padding-top:28px;
		padding-bottom:28px;*/
    }
}
@media (min-width: 1160px) {
    .navbar-form {
        /* margin-top:18px;*/
        padding-right: 5px;
        margin-left: -15px; 
        margin-top: 10px;
    }
}
.navbar-toggle-user {
    padding: 6px 10px 6px 10px;
    margin-left: -10px;
    color: #cccccc;
}
.navbar-brand img {
    width: 100%;
}
.navbar-brand {
    width: 200px;
    padding: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 15px;
}
.navbar .form-control {
    padding: 0px 7px;
    border: 0px;
    border-radius: 10px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    transition: none;
    background-color: transparent;
    font-family: Lato;
}
.navbar .form-control:focus {
    border: 0px;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.form-control:focus {
    border-color: #11808d;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.075) inset,
        0 0 0px rgba(102, 175, 233, 0.6);
    outline: 0 none;
}
.navbar .formOutline {
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s,
        box-shadow ease-in-out 0.15s;
    border-radius: 3px;
}
.formOutline{
    position: relative;

}
.navbar{
    position: relative;
width: 100%;
}
.navbar-form .form-group {
    width: 140px;
}
@media (min-width: 768px) {
    .navbar .formOutline {
        margin-left: 5px;
    }
}
@media (min-width: 992px) {
    .navbar .formOutline {
        margin-left: 5px;
    }
}
 @media (max-width: 1156px) {
  /*  ul.menuItems {
        width: 100%;
        border-top: solid 1px #ddd;
    }
    */ .menuItems.navbar-nav > li > a {
        /* padding-top: 5px; */
        padding-bottom: 5px;
    } /*
    .navbar-collapse .navbar-nav.navbar-right:last-child {
        margin-right: 0px;
    }
    .container.menuBar {
        padding: 0px;
    }
    .navbar > .container .navbar-brand {
        margin-left: 0px;
    }*/
} 
@media (max-width: 767px) {
    .navbar-form .form-group {
        display: inline-block;
        width: 85%;
    }
    .navbar-form .form-control {
        display: inline-block;
        padding-top: 5px;
    }
    .navbar-form {
        border: 0px;
        margin-left:-15px;
    }
    .container.menuBar {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.btn-search {
    display: inline-block;
    padding: 6px;
    margin-bottom: 0;
    font-size: 14px;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    outline: 0;
    background-color: #fff;
    border: 0px;
    border-radius: 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
@media (max-width: 767px) {
    .btn-search {
        position: absolute;
        right: 5px;
        top: 3px;
    }
}

.btn-default {
    background: none;
    border: 0px;
    color: #666;
    text-shadow: 0 0px 0 #ffffff;
    font-size: 13px;
    text-transform: uppercase;
    padding: 6px 7px 5px 7px;
    box-shadow: 0 0px 0 rgba(255, 255, 255, 0.15) inset,
        0 0px 0px rgba(0, 0, 0, 0.075);
    background-color: #11808d;
    border-radius: 0px;
    letter-spacing: 1px;
    color: #fff;
    font-family: Lato;
}
.btn-default a {
    color: #fff;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
    background-color: #11808d;
    color: #fff;
}

.nav-pills > li > a,
.nav-pills > li > a:hover {
    border-radius: 0;
}
.front .nav-pills.nav-stacked {
    margin-bottom: 15px;
}

/* ----------------------------------------- */
/* navbar - browse menu */
/* ----------------------------------------- */
.filterMenuFacetList {
    min-height: 200px;
}
.browseMenuFacet {
    clear: both;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.filterMenuFacetList {
    font-size: 11px;
    padding-bottom: 10px;
    /*float:left;*/
    padding-top: 10px;
    font-family: Lato;
}

.filterMenuFacetList ul {
    list-style-type: none;
    margin: 2px 0 0 0;
    padding: 0;
    clear: both;
}

.filterMenuFacetList li {
    list-style-type: none;
    margin: 0 0 2px 0;
    padding: 4px 2px 4px 4px;
    border-radius: 2px;
}

.filterMenuFacetList li.active {
    background-color: #11808d;
}

.filterMenuFacetList li.active a {
    color: #fff;
}

.filterMenuFacetList li a {
    color: #666;
    cursor: pointer;
    font-size: 13px;    line-height: 16px;
    position: relative;
    text-decoration: none;
}

.filterMenuFacetList li a:hover {
    text-decoration: none;
}

.filterbylabel {
    color: #666;
    font-size: 13px;    padding-bottom: 3px;
    padding-left: 4px;
}

ul.browseMenuFacetList {
    list-style-type: none;
    margin: 0;
    padding: 0 0 5px 0;
}

ul.browseMenuFacetList > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    list-style-type: none;
    margin: 0;
    padding: 0 0 5px 0;
}

ul.browseMenuFacetList li a,
ul.browseMenuFacetList {
    float: left;
}

ul.browseMenuFacetList > li div {
    font-size: 13px;    background-color: #c9c9c9;
    color: #fff;
    font-weight: bold;
}
div.browseFacetItem {
    background-color: #f5f5f5;
    border-left: 4px solid #fff;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    height: auto;
    padding-top: 3px;
    font-size: 13px;}
@media (min-width: 768px) {
    div.browseFacetItem {
        height: 60px;
    }
    div.browseFacetItem a {
        display: block;
        height: 60px;
    }
}

@media (min-width: 768px) {
    div.browseFacetHierarchyItem {
        height: 75px;
    }
    div.browseFacetHierarchyItem a {
        display: block;
        height: 75px;
    }
}

div.browseFacetHierarchyItem a {
    display: inline !important;
}

div.browseFacetItem:hover {
    background-color: #e7e7e7;
}
div.browseFacetItem a {
    font-size: 13px;}
div.browseFacetItem a:hover {
    text-decoration: none;
    color: #11808d;
}
div.browseFacetItem li {
    margin: 0px;
    padding: 0px;
}
a.browseRemoveFacet img {
    margin-bottom: 3px;
}

.browseHeadernav {
    font-size: 13px;    padding: 5px;
    border-right: 3px solid #fff;
    letter-spacing: 1px;
}
.browseHeadernav.active {
    background-color: #777;
}
.browseHeadernav.active a {
    color: #fff;
    text-decoration: none;
}
.browseHeadernav.active .caret {
    border-top: #fff 4px solid;
}
.browseHeadernav .caret {
    margin-left: 5px;
    float: right;
    vertical-align: middle;
    margin-top: 7px;
    display: inline-block;
    border-top: #999 4px solid;
}
.filterMenuResults {
    padding-top: 2px;
}

.filterMenuResults div div.row {
    overflow: auto;
    max-height: 325px;
}

.mainFacet {
    color: #262626;
    min-height: 30px;
    line-height: 28px;
    background-color: #e7e7e7;
    margin-top: -5px;
    padding-top: 2px;
}
.mainFacet ul {
    list-style-type: none;
    margin: 0px !important;
    padding: 0px !important;
}
.mainFacet li {
    list-style-type: none;
    margin: 0px 30px 0px 0px !important;
    padding: 0px !important;
    float: none;
}
@media (min-width: 768px) {
    .mainFacet li {
        float: left;
    }
}
.mainFacet li .active a {
    color: #000;
}
.mainFacet li a:hover {
    color: #000;
    text-decoration: none;
    /*border-bottom:1px solid #000;*/
}
.browsedivider {
    clear: both;
    margin-top: 20px;
    border-top: 1px solid #ccc;
}
@media (min-width: 768px) {
    .browsedivider {
        padding-bottom: 20px;
    }
}
div.browseMenuBrowseAll {
    margin-top: 5px;
    text-align: center;
}
@media (min-width: 768px) {
    div.browseMenuBrowseAll {
        position: absolute;
        bottom: 1px;
        right: 18px;
        margin-top: 0px;
    }
    div.browseMenuBrowseSearch {
        position: absolute;
        bottom: 3px;
        left: 15px;
    }
}
div.browseMenuBrowseSearch input {
    font-size: 11px;
}
.browseMenuBrowseSearch .form-control,
.browseMenuBrowseSearch .form-control:active,
.browseMenuBrowseSearch .form-control:focus {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555555;
    display: block;
    font-size: 13px;    height: 24px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s,
        box-shadow 0.15s ease-in-out 0s;
    vertical-align: middle;
    width: 100%;
}
.filterMenuFacetList .btn-default {
    background: transparent;
    color: #ccc;
}
.filterMenuFacetList .btn-default a {
    color: #666;
    font-size: 11px;
}
.browseHeadernav a {
    color: #666;
    font-family: Lato;
}
a.browseRemoveFacet img {
    margin-bottom: 3px;
}
.mainfacet {
    background-color: #f5f5f5;
    margin-top: -5px;
}
.nav .dropdown .dropdown-menu {
    overflow: auto;
}

.detailBrowseFacet {
    border: 1px solid #dddddd;
    height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
    display: none;
}

/*!
 * Yamm!3
 * Yet another megamenu for Bootstrap 3
 * 
 * http://geedmo.github.com/yamm3
 */

.grid-demo [class*='col-'] {
    background-color: #e5e1ea;
    border: 1px solid #d1d1d1;
    font-size: 1em;
    line-height: 2;
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: center;
}

.grid-demo {
    padding: 10px 30px;
}
.yamm .nav,
.yamm .collapse,
.yamm .dropup,
.yamm .dropdown {
    position: static;
}
.yamm .container {
    position: relative;
}
.yamm .dropdown-menu {
    left: auto;
}
.yamm .nav.navbar-right .dropdown-menu {
    left: auto;
    right: 0;
}
.yamm .yamm-content {
    padding: 20px 30px;
}
.yamm .dropdown.yamm-fw .dropdown-menu {
    left: 0;
    right: 0;
}

/* --------------------------------- */
/* forms */
/* --------------------------------- */
#caFormOverlay {
    margin: 0px auto 0px auto;
    background-color: #ffffff;
    padding: 20px 15px;
    width: 100%;
    max-height: 500px;
    overflow: auto;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    position: relative;
}
@media (min-width: 768px) {
    #caFormOverlay {
        width: 500px;
        margin: 15% auto 0px auto;
    }
}

#caFormOverlay .glyphicon-remove-circle {
    position: absolute;
    top: 10px;
    right: 10px;
}
@media (min-width: 768px) {
    #RegForm H1 {
        text-align: right;
    }
}
#caFormOverlay #RegForm H1 {
    text-align: left;
}
/* --------------------------------- */
/* footer */
/* --------------------------------- */
#footer {
    /*margin:40px 0px 65px 0px;*/
    border-top: 1px solid #e3e3e3;
    font-size: 10px;
    color: #737373;
    line-height: 1.2em;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: fit-content;
    padding: 2px 15px 2px 15px;
    font-family: lato;
    background-color: #fff;
    p{margin: 0 0 0 0;}
}
@media (min-width: 768px) {
    #footer {
        /*margin:40px 25px 65px 25px;*/
        margin: 20px 0 0 0;
    }
}
#footer a {
    text-decoration: underline;
    color: #737373;
}
#footer ul a {
    color: #11808d;
    text-decoration: none;
}
#footer ul li {
    padding: 0px 20px 0px 0px;
}
#footer ul {
    margin-bottom: 0px;
}
#footer ul.social {
    padding-top: 5px;
    font-size: 20px;
}
#footer ul.social li {
    padding: 0px 10px 0px 0px;
}
/* --------------------------------- */
/* lightbox lb */
/* --------------------------------- */
.sets H1 .btn-group {
    padding: 0px;
    margin: 0px;
}
.sets H1 .btn-group {
    font-size: 16px;
    padding-top: 0px;
    margin-bottom: 0px;
}
.sets .setsBack {
    margin: 0px 5px 0px 0px;
    background-color: #ffffff;
    text-transform: uppercase;
    padding: 0px 5px 3px 5px;
    text-align: center;
    float: left;
}
.sets .setsBack a {
    color: #000000;
    line-height: 0.3em;
    font-size: 14px;
    text-decoration: none;
}
.sets .setsBack a .small {
    font-size: 7px;
    color: #000000;
    padding-top: 0px;
    padding-bottom: 5px;
}
.sets H5 {
    margin-top: 0px;
    padding-top: 0px;
}
#lbViewButtons {
    font-size: 18px;
    padding-bottom: 5px;
}
@media (min-width: 767px) {
    #lbViewButtons {
        text-align: right;
    }
}
#lbViewButtons a .glyphicon {
    color: #ababab;
}
#lbViewButtons a.active .glyphicon {
    color: #454545;
}
.lbSetContainer {
    width: 100%;
    position: relative;
}
.lbSetCount {
    font-size: 13px;
    color: #757575;
    text-transform: capitalize;
    vertical-align: middle;
}
.lbSet {
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    position: relative;
    padding: 15px 15px 5px 15px;
    margin-bottom: 30px;
    background-color: #ffffff;
    font-size: 13px;}
.lbSet:hover {
    margin: -3%;
    z-index: 200;
    position: absolute;
    width: 106%;
}
.lbSet.readSet {
    background-color: #fafafa;
}
.lbSet h5,
.lbSet h2 {
    text-transform: uppercase;
    font-size: 13px;
    margin-top: 0px;
    height: 1em;
    overflow: hidden;
}
.lbSet:hover H5,
.lbSet:hover H2 {
    height: auto;
}
@media (max-width: 767px) {
    .lbSet h5,
    .lbSet h2 {
        font-size: 10px;
        height: 2em;
        overflow: hidden;
    }
}
.lbItemContainer {
    min-height: 310px;
    min-width: 150px;
    position: relative;
    border: 1px solid transparent;
}
.lbItemContainerList {
    min-height: 72px;
    min-width: 150px;
    position: relative;
    border: 1px solid transparent;
}
.lbItem {
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    position: relative;
    padding: 10px;
    margin-bottom: 30px;
    background-color: #ffffff;
    position: relative;
    line-height: 1.2em;
    font-size: 11px;
}
.lbItemContainerList .lbItem {
    margin-bottom: 15px;
}
.lbItem:hover {
    cursor: move;
    z-index: 1000;
}
.lbItemContainer .lbItem:hover {
    position: absolute;
}
.lbItemContainerList .lbItem:hover {
    width: 100%;
}
@media (min-width: 768px) {
    .lbItemContainer .lbItem:hover {
        padding: 15px;
        width: 110%;
        left: -5%;
        top: -5%;
    }
}
.lbItemContent {
    height: 250px;
    overflow: hidden;
}
.lbItemContainerList .lbItemContent {
    height: 72px;
}
.lbItemContainer .lbItem:hover .lbItemContent {
    min-height: 250px;
    height: auto;
}
.lbItemContainer .lbExpandedInfo,
.lbSetExpandedInfo {
    width: 100%;
    z-index: 100;
    display: none;
    color: #757575;
}
.lbItem:hover .lbExpandedInfo,
.lbSet:hover .lbSetExpandedInfo {
    display: inline;
}
.lbExpandedInfo HR,
.lbSetExpandedInfo HR {
    margin-bottom: 5px;
    margin-top: 5px;
}
.lbItem a,
.lbSet a {
    color: #666;
}
.lbItemImg {
    max-height: 200px;
    width: 100%;
    margin-bottom: 5px;
    overflow: hidden;
}
.lbItem:hover .lbItemImg {
    max-height: 600px;
}
.lbItemImg img {
    width: 100%;
    height: auto;
}
.lbItemContainerList .lbItemImg {
    width: 72px;
    max-height: 72px;
    text-align: center;
    float: left;
    margin-right: 10px;
}
.lbItemContainerList .lbItemImg img {
    width: auto;
    height: auto;
}
.lbItemThumb,
lbSetThumb {
    float: left;
    margin: 1.5%;
    width: 30%;
}
.lbItemThumb img {
    width: 100%;
    height: auto;
    max-width: 72px;
    max-height: 72px;
}
.lbSetImg {
    margin-bottom: 10px;
    max-height: 168px;
    overflow: hidden;
}
@media (min-width: 768px) {
    .lbSetImg {
        max-height: 285px;
    }
}
.lbSetImg img {
    width: 100%;
    height: auto;
}
.lbSetThumbRow {
    margin: 0px -10px 0px 0px;
}
@media (max-width: 767px) {
    .lbSetThumbRowContainer {
        display: none;
    }
}
@media (min-width: 768px) {
    .lbSetThumbRow {
        margin: 0px -10px 0px -10px;
    }
}
.lbSetThumbCols {
    padding: 0px 10px 10px 0px;
}

.lbSetThumb img {
    width: 100%;
    height: auto;
}
.lbSetThumbPlaceholder {
    background-color: #f5f5f5;
    border: 2px solid #ededed;
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;
}
.lbSetThumbPlaceholder img {
    width: 100%;
    height: auto;
}
.lbSetThumbPlaceholder i,
.lbSetThumbPlaceholder .glyphicon {
    position: absolute;
    top: 35%;
    left: 0px;
    width: 100%;
    text-align: center;
    height: 50%;
}
.lbSetImgPlaceholder {
    background-color: #f5f5f5;
    border: 2px solid #ededed;
    color: #858585;
    padding: 60px 5px 72px 5px;
    text-align: center;
    width: 100%;
}
.lbItemContainerList .lbSetImgPlaceholder {
    padding: 10px;
}
.lbItemContainerList .lbSetImgPlaceholder {
    font-size: 30px;
}
.lbSetItemComment {
    display: none;
    width: 100%;
    padding: 3px 10px 10px 10px;
    height: 270px;
    background-color: #fff;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 200;
    -webkit-box-shadow: 5px 1px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 7px 1px 10px rgba(0, 0, 0, 0.2);
    height: 100%;
}
@media (min-width: 768px) {
    .lbSetItemComment {
        left: 100%;
        width: 220px;
    }
}
.lbSetItemComment .btn-xs,
.lbSetComment .btn-xs {
    padding: 5px !important;
    font-size: 10px !important;
}
.lbItemContainerList .lbSetItemComment {
    left: 0px;
    width: 100%;
    height: auto;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}
.lbSetComment {
    display: none;
    padding-bottom: 5px;
}
@media (min-width: 768px) {
    .lbSetComment .closecomment {
        margin-top: -30px;
    }
}
.lbSetCommentHeader {
    font-size: 11px;
}

.lbItemContainer .lbSetItemComment {
    padding-top: 25px;
}

.lbItemContainer .lbSetItemComment .closecomment {
    margin-top: -15px;
}
.lbSetItemComment .lbComments {
    overflow: auto;
    max-height: 125px;
    clear: right;
    margin-bottom: 10px;
}
.lbItemContainer .lbItem:hover .lbSetItemComment .lbComments {
    max-height: 150px;
}
.lbSetComment .lbComments {
    overflow: auto;
    max-height: 75px;
    clear: right;
    margin-bottom: 10px;
}

.lbSet:hover .lbSetComment .lbComments {
    max-height: 230px;
}
.lbSetItemComment .lbComments blockquote,
.lbSetComment .lbComments blockquote {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.lbSetItemComment textarea,
.lbSetComment textarea {
    height: 55px;
    margin-bottom: 5px;
}
.lbSetContent .caption {
    font-size: 10px;
    text-transform: uppercase;
    color: #ccc;
    padding-top: 0px;
}
.readSet {
    background-color: #fafafa;
}
.sets .warning {
    color: #3a87ad;
    background-color: #d9edf7;
    font-size: 11px;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 10px;
}
/*
.sets .dropdown-menu a{
	font-size:11px;
	text-transform:uppercase;
	font-family:arial;
	color:#999;

}
.sets .dropdown-menu a:hover, .sets .dropdown-menu a:focus{
	background-color:#fff;
	color:#000;

}*/
.activitycol .lbSetCommentHeader,
.lbSetCommentHeader {
    font-weight: bold;
    padding-top: 5px;
    border-top: 1px solid #e3e3e3;
}
.lbSetCommentHeader a {
    color: #858585;
}
.lbSetCommentHeader HR {
    margin: 10px 0px 10px 0px;
}
.lbItemContainerList .lbSetCommentHeader {
    border-top: none;
    margin-top: 0px;
    padding-top: 5px;
}
.activitystream {
    height: 700px;
    overflow-y: hidden;
    line-height: 1.1em;
}
@media (min-width: 768px) {
    .activitystream:hover {
        overflow-y: auto;
    }
}
#lbTimelineContainer {
    height: 500px;
}
#confirm-delete .glyphicon {
    color: #fff !important;
}
/* --------------------------------- */
/* classroom */
/* --------------------------------- */
.classroom h1 {
    margin-bottom: 15px;
}
.classroom h5 {
    text-transform: uppercase;
}
.classroom small {
    line-height: 1.1em;
}
.crSet {
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    position: relative;
    padding: 15px 15px 10px 15px;
    margin: 0px 0px 30px 0px;
    background-color: #ffffff;
    font-size: 13px;}
.crSet h5 {
    text-transform: uppercase;
    font-size: 13px;
    margin-top: 0px;
}
.crSet h5 a {
    color: #757575;
}
@media (max-width: 768px) {
    .crSet .crSetImg {
        padding-bottom: 10px;
    }
}
.crSet .crSetImg img {
    width: 100%;
    height: auto;
}
.crSet .btn {
    margin-top: -5px;
}
.crSet hr {
    margin: 10px 0px 10px 0px;
}
.crDetailCommentCol {
    overflow: auto;
    max-height: 450px;
}
.crDetailAssignmentInfo {
    background-color: #ededed;
    padding: 10px;
    margin-top: 0px;
}
.crListUserGroup {
    padding-bottom: 15px;
}
.crListUserGroup ul {
    padding-left: 15px !important;
    max-height: 120px;
}
.crListUserGroup dl {
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.crListUserGroup dd {
    padding-bottom: 10px;
}
.crSetImgPlaceholder {
    background-color: #f5f5f5;
    border: 2px solid #ededed;
    color: #858585;
    padding: 25% 0px 25% 0px;
    text-align: center;
    width: 100%;
}
#crUserRespond {
    padding: 15px;
    background-color: #f5f5f5;
    margin-bottom: 20px;
}
#crUserRespond .btn {
    margin-top: 10px;
}
.crResponseHeader {
    font-size: 11px;
    padding-bottom: 5px;
    font-weight: bold;
}
.crResponseHeader a {
    color: #757575;
}
/* --------------------------------- */
/* front page */
/* --------------------------------- */
.front H1 {
    color: #757575;
    line-height: 1.3;
    text-transform: none;
}
@media (min-width: 768px) {
    .front H1 {
        font-size: 28px;
        font-family: LatoLight;
        padding-top: 15px;
    }
}
.front .jcarousel-wrapper {
    margin-bottom: 20px;
    margin-top: -20px;
}
.front .jcarousel-control-prev {
    left: 0px !important;
}
.front .jcarousel-control-next {
    right: 0px !important;
}
.front .jcarousel-control-next,
.front .jcarousel-control-prev {
    background-color: transparent;
    height: 45px;
    margin-top: -30px;
    padding-bottom: 20px;
    padding-top: 10px;
    text-align: center;
    text-transform: uppercase;
    font-size: 55px;
    width: 45px;
    border-radius: 0px;
    box-shadow: 0 0 0px #999999;
    text-shadow: 0px 0px 10px #000000;
}
.frontSlide img {
    height: 400px;
    width: auto;
}
.front a.jcarousel-control-prev,
.front a.jcarousel-control-next {
    text-decoration: none;
}
.front a.jcarousel-control-prev:hover,
.front a.jcarousel-control-next:hover,
.front a.jcarousel-control-prev:focus,
.front a.jcarousel-control-next:focus {
    color: #fff;
}
.front .jcarousel-pagination {
    position: relative;
    padding: 0px;
    margin: 0px auto 0px auto;
    text-align: center;
}
.front .jcarousel-pagination a {
    text-decoration: none;
    display: inline-block;
    font-size: 1px;
    line-height: 1em;
    min-width: 10px;
    width: 10px;
    height: 10px;
    background: #fff;
    color: #fff;
    border-radius: 25px;
    padding: 3px;
    text-align: center;
    margin-right: 5px;
    border: 1px solid #666;
    opacity: 0.75;
}

.front .jcarousel-pagination a.active {
    background: #666;
    color: #666;
    opacity: 1;
    text-shadow: none;
    text-decoration: none;
}
.front .nav-pills > li > a {
    background-color: #f5f5f5;
    padding: 12px 10px 10px 10px;
    color: #333;
    font-size: 14px;
    text-decoration: none !important;
    text-transform: none;
}
.front .nav-pills > li > a:hover {
    font-weight: normal;
    color: #333;
    background-color: #f5f5f5;
}
.front .nav-pills > li:hover > a {
    background-color: #f5f5f5;
    color: #333;
}
.frontSlide {
    position: relative;
}
.frontSlide .frontSlideCaption {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.75);
    background-color: #000;
    padding: 15px;
    color: #fff;
    bottom: 0px;
    width: 100%;
    z-index: 100;
    font-weight: bold;
    opacity: 0;
    -webkit-transition: all 250ms ease-out;
    -moz-transition: all 250ms ease-out;
    -o-transition: all 250ms ease-out;
    -ms-transition: all 250ms ease-out;
    transition: all 250ms ease-out;
}
.frontSlide:hover .frontSlideCaption {
    opacity: 1;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.75);
    padding: 15px;
    color: #fff;
    bottom: 0px;
    width: 100%;
    z-index: 100;
    font-weight: bold;
}
.frontSlideCaption a {
    color: #fff;
}

.frontGrid img {
    width: 100%;
    height: auto;
}
.frontGridCaption {
    padding-top: 5px;
    margin-bottom: 30px;
}
.frontGallerySlideCaption {
    padding-top: 5px;
}
.front .galleryItems li {
    padding-right: 30px;
}
.front .galleryItems-wrapper {
    margin-top: 0px;
}
.front .galleryItems-wrapper .jcarousel-control-prev,
.front .galleryItems-wrapper .jcarousel-control-next {
    top: 40%;
}
/* --------------------------------- */
/* details */
/* --------------------------------- */
.detail HR {
    color: #ededed;
    padding: 0px;
    margin: 10px 0px 10px 0px;
}
.detail {
    color: #454545;
    font-size: 13px;
}
.detail a {
    color: #11808d;
    text-decoration: none;
}

.detail a:hover {
    color: #11808d;
    text-decoration: underline;
}

.detail H4 {
    padding: 0px;
    margin: 0px;
}
.detail H6 a {
    color: #11808d;
    /*font-size:9px;*/
    padding: 2px 0px 0px 10px;
    text-decoration: none;
}
.detail h1 {
    font-size: 18px;
    color: #262626;
    line-height: 135%;
    text-transform: none;
}
.detail h2 {
    font-size: 14px;
    color: #454545;
    text-transform: uppercase;
    padding-bottom: 0px;
    margin: 10px 0px 5px 0px;
}
.detail label {
    display: block;
    font-size: 13px;    color: #454545;
    text-transform: uppercase;
    padding-bottom: 0px;
    margin: 10px 0px 5px 0px;
}
.detail .detailNavBgLeft,
.detail .detailNavBgRight {
    margin-top: -20px;
    background-color: #ebebeb;
    width: 45px;
    height: 120px;
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.detail .detailNavBgLeft {
    position: absolute;
    left: 0;
}
.detail .detailNavBgRight {
    position: absolute;
    right: 0;
}
.detail .detailNavBgLeft a,
.detail .detailNavBgRight a {
    /*color:#8e8985;*/
    color: #696969;
    line-height: 0.3em;
    font-size: 18px;
    text-decoration: none;
}
.detail .detailNavBgLeft a .small,
.detail .detailNavBgRight a .small {
    font-size: 8px;
    /*color:#ababab;*/
    color: #696969;
    padding-bottom: 20px;
    padding-top: 3px;
}
@media (max-width: 767px) {
    .detail .navLeftRight {
        display: none;
    }
}
@media (min-width: 768px) {
    .detail .navTop {
        display: none;
    }
}
.detail .navTop {
    text-align: center;
    padding-bottom: 10px;
}
.detail .navTop a {
    margin-top: -20px;
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
    background-color: #ebebeb;
    padding: 5px;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}
.detail .navTop a .small {
    font-size: 8px;
    color: #ababab;
}
.detail .repViewerCarousel li {
    text-align: center;
}
.detail .repViewerCont img {
    width: 100%;
    height: auto;
    max-height: 500px;
    object-fit: contain;
}
.detail .unit {
    margin-bottom: 12px;
}
.detail .unit img {
    width: 100%;
    height: auto;
}
#detailRepresentationThumbnails {
    padding-top: 0px;
}

.detail .repViewerCont {
    width: 100%;
    height: 100%;
    position: relative;
}
.detail audio {
    width: 100%;
}
.detail .detailMediaPlaceholder {
    width: 100%;
    text-align: center;
    padding-top: 150px;
    padding-bottom: 150px;
    color: #ababab;
    border: 1px solid #ebebeb;
}
.detail .detailMediaToolbar,
.gallery .detailMediaToolbar {
    background-color: #ebebeb;
    padding: 2px 5px 7px 5px;
    font-size: 13px;    position: absolute;
    display: none;
    top: 0px;
    z-index: 200;
}
.detail .repViewerCont:hover .detailMediaToolbar {
    display: block;
}
.detail .detailMediaToolbar a,
.gallery .detailMediaToolbar a {
    color: #696969;
}
.detail .detailMediaToolbar span,
.gallery .detailMediaToolbar span {
    padding: 5px;
}
.detail #detailRepNav {
    padding: 2px 0px 7px 0px;
    font-size: 13px;}
.detail #detailRepNavPrev {
    float: left;
}
.detail #detailRepNavNext {
    float: right;
}
.detail #detailRepNav a {
    color: #757575;
}
.detail #detailRepNav a.inactive {
    color: #dedede;
}
.detail #detailRepNav span {
    padding: 5px;
}
.detail #detailTools {
    clear: both;
    padding-top: 10px;
    margin-top: 30px;
    font-family: lato;
}
.detail .detailTool {
    color: #757575;
    font-size: 11px;
    padding: 5px;
    margin-right: 5px;
    text-transform: uppercase;
    border-radius: 3px;
}
.detail .detailTool span,
.detail .detailTool i {
    color: #757575;
    margin-right: 5px;
}
.detail .detailTool a {
    text-decoration: none;
}
.jcarousel-wrapper,
.jcarousel {
    /*width:600px !important;*/
    width: 100% !important;
}
#detailComments {
    display: none;
    border-top: 1px solid #dddddd;
    padding: 10px 0px 10px 0px;
    color: #929292;
}
#detailComments H2 {
    color: #929292;
    font-size: 11px;
    text-transform: uppercase;
    padding: 0px;
    margin: 0px;
}
.detail #tags {
    margin-bottom: 10px;
}
.detail #detailRelatedObjects {
    border-bottom: 1px solid #dddddd;
    padding: 10px 0px 10px 0px;
    margin-bottom: 20px;
}
.detail #detailScrollButtonNext,
.detail #detailScrollButtonPrevious {
    right: 0px;
}
.detail #detailScrollButtonPrevious {
    left: 0px;
}
.detail #detailScrollButtonNext,
.detail #detailScrollButtonPrevious {
    background-color: #ebebeb;
    position: absolute;
    z-index: 100;
    height: 145px;
    opacity: 0.7;
    padding: 60px 10px 0px 10px;
    color: #454545;
    font-size: 15px;
    margin: 10px 0px 10px 0px;
    width: 25px;
}
.detail #detailScrollButtonNext:hover,
.detail #detailScrollButtonPrevious:hover {
    background-color: #dedede;
    cursor: pointer;
    color: #000;
}
.detail #detailScrollButtonNext.inactive,
.detail #detailScrollButtonPrevious.inactive {
    display: none;
}
.detail .detailObjectsResult {
    float: left;
    width: 150px;
    height: 145px;
    margin: 10px;
    -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    line-height: 1em;
    padding: 10px;
    font-size: 11px;
    overflow: hidden;
}
.detail .detailObjectsResult a {
    color: #454545;
}
.detail .detailObjectsResult img {
    width: 100%;
    height: auto;
    margin-bottom: 5px;
}
.detail #detailAnnotations {
    margin: 20px 0px 30px 0px;
}

.detail #detailAnnotations .detailAnnotationList {
    max-height: 150px;
    overflow: auto;
}

.detail #detailAnnotations ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-position: inside;
    border-top: 1px #ccc solid;
    border-left: 1px #ccc solid;
    border-right: 1px #ccc solid;
}

.detail #detailAnnotations li {
    margin: 0;
    padding: 5px;
    border-bottom: 1px #ccc solid;
    background-color: #f5f5f5;
}

.detail #detailAnnotations li.active {
    font-weight: bold;
    font-style: italic;
}

.detail #detailAnnotations ul li:hover {
    background-color: #ababab;
    cursor: pointer;
}

.detail #detailAnnotations ul li.detailAnnotation a {
    text-decoration: none;
        color: #11808d;

}

#detailRepresentationThumbnails a img {
    border: 1px solid #dddddd;
    height: auto;
    margin: 0px 0;
    padding: 5px;
    width: 100%;
}
#detailRepresentationThumbnails a.active img {
    background-color: #efefef;
}

a.readmore-js-toggle {
    padding-top: 10px;
    color: #11808d;
}
.trimText1 .trimText2 {
    margin-top: 5px;
}
.longText {
    border-left:1px solid #ededed;
    padding-left: 10px;

}

.caAudioPlayer {
    padding-top: 26px;
}
.detail .exportCollection .fa,
.detail .exportCollection .glyphicon,
.detail .exportCollection a {
    color: #757575 !important;
    font-size: 11px;
    text-transform: uppercase;
    text-decoration: none;
}
/* --------------------------------- */
/* browse b */
/* --------------------------------- */
.results .bCriteria strong,
.sets .bCriteria strong {
    color: #000;
    text-transform: uppercase;
    font-size: 13px;    font-weight: normal;
}
.sets .bCriteria {
    padding-top: 5px;
    padding-bottom: 5px;
}
.results a .glyphicon,
.results a .fa {
    color: #757575 !important;
}
.results a .fa.fa-gear {
    color: #666 !important;
}
@media (max-width: 767px) {
    .results ul.dropdown-menu {
        left: auto;
        right: 0px;
    }
}
.results a.active .glyphicon {
    color: #000000 !important;
}
a.browseRemoveFacet .glyphicon {
    color: #fff !important;
}
.results H1 {
    margin: 0px 0px 10px 0px;
    padding: 0px;
}
.results H5 {
    margin: 0px;
}
.bFacetDescription {
    margin: 10px;
    max-height: 150px;
    overflow: auto;
}
#bSortByList {
    float: right;
    margin-top: 5px;
}
#bSortByList ul {
    list-style-type: none;
    display: inline;
    padding: 0px;
}
#bSortByList ul li {
    font-size: 13px;    display: inline-block;
    margin: 0px 5px 0px 0px;
}
#bSortByList ul li.divide {
    border-left: 1px solid 	#ededed
    ;
    width: 3px;
}
#bSortByList ul li.selectedSort {
    color: #454545;
}
#bSortByList li a {
    text-decoration: underline;
    color: #757575;
}
#bSortByList ul li strong {
    color: #000;
    text-transform: uppercase;
    font-weight: normal;
}
#bViewButtons {
    text-align: right;
    font-size: 18px;
    padding-bottom: 5px;
}
#bViewButtons .disabled,
#lbViewButtons .disabled {
    pointer-events: all;
}
#bLetterBar a {
    padding: 3px;
    text-transform: uppercase;
    font-size: 13px;}
#bLetterBar a:hover,
#bLetterBar a.selectedLetter {
    font-weight: bold;
    background-color: #ededed;
    text-decoration: none;
}
#browseResultsContainer {
    margin-top: 20px;
    height: 100%;
    position: relative;
}
.bResultItemCol {
    height: 290px;
}
.bResultItemContent {
    height: 240px;
    overflow: hidden;
}
.bResultItem {
    background-color: #ffffff;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    line-height: 1em;
    padding: 10px;
}
.bSetsSelectMultiple {
    display: none;
}
.bResultItem .bSetsSelectMultiple,
.bResultListItem .bSetsSelectMultiple {
    position: absolute;
    right: 20px;
    top: 0px;
    z-index: 10;
}
.bResultItem:hover .bSetsSelectMultiple {
    right: 13px;
    top: 20px;
}
.bResultItem .bResultItemImg {
    margin-bottom: 5px;
    max-height: 180px;
    min-height: 100px;
    overflow: hidden;
}
.bResultItem img {
    height: auto;
    width: 100%;
}
.bResultItem:hover {
    font-size: 13px;    height: auto;
    margin: -20px -8px 0px -8px;
    /*margin: -40px;*/
    /*min-height: 320px;*/
    min-height: 300px;
    /*padding: 20px;*/
    position: relative;
    z-index: 100;
}
.bResultItem:hover .bResultItemContent {
    height: auto;
    /*max-height: 600px;*/
    min-height: 240px;
}
.bResultItem:hover .bResultItemImg {
    height: auto;
    max-height: 500px;
}
.bResultItemImgPlaceholder {
    background-color: #f5f5f5;
    border: 2px solid #ededed;
    color: #858585;
    margin-bottom: 10px;
    padding: 60px 5px 72px;
    text-align: center;
    width: 100%;
}
.bResultItem .bResultItemText a {
    color: #454545;
    line-height: 1.2em;
}
.bResultItem .bResultItemText {
    line-height: 1.2em;
}
.bResultItem .bResultItemText {
    font-size: 11px;
}
.bResultItem .bResultItemText small,
.bResultItem .bResultItemText small a {
    color: #757575;
}
.bResultItemExpandedInfo {
    background-color: #ffffff;
    display: none;
    position: relative;
    z-index: 1000;
}
.bResultItemExpandedInfo a .fa,
.bResultListItemExpandedInfo a .fa {
    font-size: 14px;
}
.bResultItemExpandedInfo hr,
.bResultListItemExpandedInfo hr {
    margin-bottom: 10px;
}
#bRefine {
    background-color: #f5f5f5;
    /*width: 275px;*/
    line-height: 0.75em;
    padding: 15px 10px;
    position: relative;
    z-index: 10;
    overflow-y: auto;
    display: block;
    color: #666;
}
#bRefine p {
    line-height: 1.1em;
}
#bRefine H2 {
    font-size: 18px;
    text-transform: uppercase;
    color: #666;
    margin-top: 0px;
}
#bRefine H5,
#bRefine H3 {
    margin-bottom: 8px;
    margin-top: 20px;
    text-transform: uppercase;
    padding: 0px;
    color: #666;
}
#bRefine a {
    color: #666666;
    font-size: 13px;    line-height: 146%;
}
#bRefine a.more {
    color: #707070;
    text-decoration: underline;
}
#bRefine div {
    margin-bottom: 5px;
}
@media (min-width: 768px) {
    #bRefine.fixed {
        position: fixed;
        top: 0px;
        margin-top: 0px;
    }
}
#bRefineButton,
#bRefineClose {
    display: none;
}
@media (max-width: 767px) {
    #bRefine {
        display: none;
        position: fixed;
        z-index: 10000;
        top: 0px;
        left: 0px;
        right: 0px;
        margin-top: 0px;
        overflow: auto !important;
        height: 100% !important;
        margin: 0px;
        width: 100%;
    }
    #bRefineButton {
        display: inline;
    }
    #bRefineButton .fa {
        color: #666 !important;
        top: -2px;
        position: relative;
    }
    #bRefineClose {
        display: block;
        font-size: 20px !important;
    }
}

#bMorePanel {
    position: fixed;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-color: #ffffff;
    -webkit-box-shadow: 0 7px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    display: none;
    z-index: 10001;
    min-width: 450px;
}
#bMorePanel .bFilterCount {
    color: #454545;
    font-weight: normal;
    font-size: 0.8em;
    padding-left: 10px;
}
#bMorePanel #bAncestorList {
    padding: 10px 0px 10px 0px;
    margin-bottom: 10px;
    max-width: 400px;
}
#bMorePanel #bAncestorList span {
    font-size: 7px;
    color: #454545;
}
#bMorePanel #bAncestorList a {
    color: #454545;
    padding: 0px 5px 0px 5px;
    font-weight: bold;
    font-size: 13px;}
#bMorePanel #bAncestorList a span {
    font-size: 13px;}
#bMorePanel #bScrollList {
    overflow-y: auto;
    padding-left: 10px;
    height: 95%;
    float: left;
    margin-top: 5px;
    width: 250px;
}

@media (min-width: 992px) {
    #bMorePanel #bScrollList {
        width: 350px;
    }
}
#bMorePanel #bScrollList.bScrollListHierarchy {
    height: 85%;
    padding-left: 25px;
}
#bMorePanel #bScrollList a {
    color: #454545;
    line-height: 1.1em;
    font-size: 11px;
}
#bMorePanel #bScrollList div {
    padding-bottom: 8px;
}
#bMorePanel #bLetterBar {
    float: right;
    margin: 0px 40px 0px 10px;
    text-align: center;
}
#bMorePanel #bLetterBar a {
    text-decoration: none;
    font-weight: bold;
}
#bMorePanelClose {
    display: none;
}
@media (max-width: 767px) {
    #bMorePanel {
        min-width: 100px;
        left: 0px;
    }
    #bMorePanel #bScrollList {
        width: 200px;
    }
    #bMorePanelClose {
        display: inline;
    }
}

/* search/browse results: list mode */

.bResultListItemCol {
    height: 122px;
}
.bResultListItemContent {
    height: 72px;
    overflow: hidden;
}
.bResultListItem {
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
    line-height: 1em;
    padding: 10px; /*had commented this out*/
}
.bResultListItem:hover {
    -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
    padding: 20px; /*had commented this out*/
    margin: -10px; /*had commented this out*/
    height: 112px;
    font-size: 13px;}
.bResultListItem .bResultListItemImg {
    max-height: 72px;
    min-height: 10px;
    overflow: hidden;
    margin: 0 5px 0 0; /*had commented this out*/
    float: left;
}
.bResultListItemImg .bResultItemImgPlaceholder {
    padding: 20px; /*had commented this out*/
}
.bResultListItem img {
    width: auto;
    height: 72px;
}
.bResultListItem .bResultListItemText a {
    line-height: 1.2em;
    color: #666;
}
.bResultListItem .bResultListItemText {
    line-height: 1.2em;
    font-size: 13px;}
.bResultListItem .bResultListItemText small,
.bResultListItem .bResultListItemText small a {
    color: #ababab;
}
.bResultListItemExpandedInfo {
    display: none;
    background-color: #ffffff;
    padding: 20px 0px 20px 0px; /*had commented this out*/
    background-color: #fff;
    -webkit-box-shadow: 0 7px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    position: relative;
    margin: 0px -20px -20px -20px; /*had commented this out*/
    padding: 0px 10px 10px 10px; /*had commented this out*/
}

.bResultItemExpandedInfo HR {
    margin-top: 15px;
    margin-bottom: 10px;
}

.browse .btn,
.sets .btn {
    background-color: #11808d;
    font-size: 10px;
    color: #fff;
    margin-left: 5px;
    margin-right: 5px;
    letter-spacing: 1px;
    font-size: 13px;
}

.browse .btn a,
.browse .btn .glyphicon,
.sets .btn a,
.sets .btn .glyphicon {
    color: #8c8c8c;
}

.modal-dialog .btn {
    font-size: 14px;
}

/* timeline results */
#bTimelineContainer {
    height: 500px;
}
#timeline-embed {
    width: 100%;
    height: 500px;
}
.tl-headline a {
    color: #000 !important;
}

/* --------------------------------- */
/* multi-search */
/* --------------------------------- */
.multisearch {
    /*padding:0px 30px 0px 25px;*/
}
.multisearch H3,
.multisearch H2 {
    margin: 0px;
    padding: 0px;
    text-transform: none;
}
.multisearch H3 a,
.multisearch H3 a:hover,
.multisearch H2 a,
.multisearch H2 a:hover {
    text-decoration: none;
    color: #757575;
}
.multisearch .blockResults {
    height: 170px;
    margin-bottom: 15px;
    overflow: hidden;
    clear: both;
}
.multisearchImgPlaceholder {
    background-color: #f5f5f5;
    border: 2px solid #ededed;
    color: #757575;
    padding: 20px;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
}
.multisearchFullResults a {
    text-transform: uppercase;
    color: #757575;
}
.multisearchFullResults a:hover {
    text-decoration: none;
}
.multisearchSort ul {
    list-style-type: none;
    display: inline;
    padding: 0px;
}
.multisearchSort ul li {
    display: inline-block;
    margin-right: 5px;
}
.multisearchSort ul li a {
    text-decoration: underline;
    color: #757575;
}
.multisearchSort ul li.selectedSort a {
    color: #454545;
    text-decoration: none;
}
.multisearchSort a {
    display: inline-block;
    text-transform: lowercase;
}
.multisearchSort select {
    padding: 0px;
    height: 17px;
    font-size: 13px;    display: inline;
    width: auto;
}
.multisearchSort select:focus {
    box-shadow: none;
    outline: none;
    border: 1px solid #cccccc;
}
.multisearchSort select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}
.multisearch .blockResultsScroller {
    height: 170px; /* Needs to be some height */
}

.multisearch .resultBlock {
    width: 100%;
    overflow-y: hidden;
    position: relative;
}

.multisearch .multiSearchResults {
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
}
.multisearch .scrollButtonNext,
.multisearch .scrollButtonPrevious {
    right: 0px;
}
.multisearch .scrollButtonPrevious {
    left: 0px;
}
.multisearch .scrollButtonNext,
.multisearch .scrollButtonPrevious {
    background-color: #ebebeb;
    position: absolute;
    z-index: 100;
    height: 150px;
    opacity: 0.7;
    padding: 60px 10px 0px 10px;
    color: #454545;
    font-size: 15px;
    margin: 7px 0px 10px 0px;
    width: 25px;
}
.multisearch .scrollButtonNext:hover,
.multisearch .scrollButtonPrevious:hover {
    background-color: #dedede;
    cursor: pointer;
    color: #000;
}
.multisearch .scrollButtonNext.inactive,
.multisearch .scrollButtonPrevious.inactive {
    display: none;
}
.multisearch .multisearchResult {
    float: left;
    width: 150px;
    height: 145px;
    margin: 10px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
    line-height: 1em;
    padding: 10px;
    font-size: 11px;
    overflow: hidden;
}
.objects .multisearchResult {
    width: 200px;
    height: 185px;
}
.objects .blockResultsScroller {
    height: 210px;
}
.multisearch .objects.blockResults {
    height: 200px;
}
.multisearch .objects .scrollButtonNext,
.multisearch .objects .scrollButtonPrevious {
    height: 190px;
    padding-top: 85px;
}
.multisearch .multisearchResult a {
    color: #454545;
}
.multisearch .multisearchResult img {
    width: 100%;
    height: auto;
    margin-bottom: 5px;
}
.multisearch .authoritySet {
    float: left;
    width: 250px;
    height: 170px;
    margin-right: 20px;
    overflow: hidden;
    padding-top: 10px;
}

.multisearch .authoritySet a {
    font-size: 13px;    color: #454545;
}
.multisearch .authorityResult {
    margin-bottom: 5px;
    height: 45px;
    line-height: 1.1em;
    background-color: #f5f5f5;
    padding: 5px 10px 5px 10px;
    overflow: hidden;
}
.multisearch .authorityResult:hover {
    background-color: #ebebeb;
}
.allLink {
    display: none;
    text-align: center;
    margin-bottom: 25px;
}
.allLink a {
    background-color: #f5f5f5;
    border-radius: 4px;
    padding: 7px;
    color: #333;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px;
}
.multisearch .pull-right {
    font-family: lato;
}
@media (max-width: 500px) {
    .jumpLinks,
    .sortValues {
        display: none;
    }
    .multisearch .authoritySet {
        width: 100%;
        max-width: 470px;
        float: none;
        margin-right: 0px;
        height: auto;
    }
    .authorityBlock .scrollButtonPrevious,
    .authorityBlock .scrollButtonNext {
        display: none;
    }
    .multisearch .authorityBlock .blockResultsScroller {
        width: 100% !important;
        height: auto;
    }
    .multisearch .authorityBlock {
        height: auto;
        max-height: 170px;
    }
    .allLink {
        display: block;
    }
}
/* ---------------------------- */
/* Collections/Finding Aid */
/* ---------------------------- */
.collectionsList a {
    font-size: 15px;
    font-weight: normal;
    color: #333;
    text-decoration: underline;
}
.collectionsList p {
    margin-bottom: 20px;
}
#collectionHierarchy HR {
    border-top: 1px solid#ededed;
    !important;
}
.collectionHierarchy_headertext {
    /* max-width: 180px; */
}
.collectionsContainer {
    float: left;
    max-height: 500px;
    width: 100%;
    overflow-y: auto;
    padding: 10px 10px 10px 10px;
    font-size: 14px;
}

#collectionLoad div a,
#collectionLoad div .nonLinkedCollection {
    font-size: 14px;
}
#collectionLoad img {
    width: auto;
    min-width: 300px;
    height: auto;
}
#collectionLoad .label a {
    font-size: 19px;
}
.collectionsContainer .label,
#collectionLoad .label {
    font-size: 19px;
    color: #000;
    padding-left: 5px;
    white-space: normal !important;
}
#collectionLoad .label {
    padding-left: 0px;
}
.collectionsContainer a,
.collectionsContainer .listItem {
    width: 100%;
    display: inline-block;
    padding: 5px;
    font-size: 14px;
}
.collectionsContainer a.openCollection.active {
    color: #fff;
    background-color: #757575;
}
.collectionsContainer a.openCollection.active small {
    color: #fff;
}
.collectionsContainer a .fa,
.collectionsContainer .fa,
#collectionLoad a .fa,
#collectionLoad .fa {
    color: #757575;
}
.collectionsContainer a:hover {
    text-decoration: none;
    background-color: #f9f9f9;
}
.collectionsContainer small {
    color: #757575;
}
.collectionsContainer p {
    font-size: 13px;}

#collectionLoad {
    float: left;
    padding: 20px 20px 10px 20px;
    /* height:500px; */
    height: auto;
    overflow-y: auto;
}
@media (max-width: 768px) {
    #collectionLoad {
        border-top: 0;
        border-left: 1px solid #45454585;
            height:100%;
            margin-top: 10px;
                       margin-bottom: 10px;

        }
}

@media (min-width: 768px) {
    #collectionLoad {
        border-left: 1px solid #45454585;
            height:100%;
           margin-top: 10px;
                      margin-bottom: 10px;

    }
}
#collectionLoad p {
    font-size: 13px;}
#collectionLoad div {
    margin-bottom: 10px;

}
/* ------------------------------------------*/
/* gallery */
/*------------------------------------------*/
.gallery {
    font-size: 13px;}
.gallery H2,
.gallery H2 a,
.gallery H4,
.gallery H4 a {
    padding-top: 5px;
    text-transform: uppercase;
    color: #000;
    font-size: 18px !important;
}
.gallery H5,
.gallery H3 {
    text-transform: uppercase;
    color: #000;
    font-size: 13px;    margin-top: 10px;
}
.gallery label {
    text-transform: uppercase;
    color: #000;
    font-size: 13px;    display: block;
    margin-bottom: 0px;
}
.gallery #gallerySetInfo {
    font-size: 13px;
    padding-bottom: 20px;
    line-height: 1.8em;
}
.gallery #gallerySetInfo img {
    max-width: 400px;
    width: 100%;
    height: auto;
}
@media (min-width: 768px) {
    .gallery #gallerySetInfo img {
        max-width: auto;
    }
}
.gallery #gallerySetInfo a {
    color: #454545;
    text-transform: uppercase;
    font-size: 13px;}
.gallery #gallerySetInfo a.btn {
    color: #fff;
}
.gallery .galleryItem {
    padding: 10px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    margin: 5px 10px 15px 5px;
}
@media (max-width: 767px) {
    .gallery .galleryItem {
        max-width: 550px;
    }
}
.gallery .galleryItem a {
    text-decoration: none;
    color: #454545;
}
.gallery .galleryItem a.btn-default {
    color: #fff;
    font-size: 11px;
    display: none;
}
@media (max-width: 767px) {
    /* don't show preview for mobile - only the list and show a view gallery button */
    #gallerySetInfo {
        display: none;
    }
    .galleryItemSetInfoLink {
        cursor: auto;
    }
    .gallery .galleryItem a.btn-default {
        display: inline;
    }
}

.gallery .galleryItem .galleryItemImg {
    float: left;
    width: 25%;
    margin-right: 10px;
}
.gallery .galleryItem .galleryItemImg img {
    width: 100%;
    height: auto;
}
.gallery .galleryNext,
.gallery .galleryPrevious {
    background-color: #efefef;
    color: #666666;
    font: 33px/1em Arial, sans-serif;
    padding: 2px 12px 5px 12px;
    text-align: center;
    text-decoration: none;
}
.gallery .galleryNext {
    padding-left: 14px;
    float: right;
    margin-right: 10px;
}
.gallery .galleryPrevious {
    padding-right: 14px;
    float: left;
    margin-left: 5px;
}
.gallery .galleryNext.inactive,
.gallery .galleryPrevious.inactive {
    opacity: 0.5;
    cursor: default;
    display: inline;
}
.gallery #galleryDetailImageArea {
    margin-bottom: 10px;
    text-align: center;
    padding: 10px 0px 10px 0px;
    position: relative;
}
.gallery #galleryDetailImageArea #galleryDetailImageWrapper {
    position: relative;
    display: inline-block;
    margin: 0px auto 0px auto;
    height: auto;
}
.gallery
    #galleryDetailImageArea
    #galleryDetailImageWrapper:hover
    .detailMediaToolbar {
    display: block;
    left: 0px;
}
.gallery #galleryDetailImageArea img {
    height: auto;
    width: 100%;
}
@media (min-width: 768px) {
    .gallery #galleryDetailImageArea {
        height: 430px;
    }
    .gallery #galleryDetailImageArea img {
        max-height: 430px;
        max-width: 100%;
    }
}
.gallery .galleryDetailNext,
.gallery .galleryDetailPrevious {
    background-color: #efefef;
    color: #666666;
    font: 33px/1em Arial, sans-serif;
    top: 130px;
    padding: 2px 12px 5px 12px;
    position: absolute;
    text-align: center;
    text-decoration: none;
    z-index: 100;
}
.gallery .galleryDetailNext {
    padding-left: 14px;
}
.gallery .galleryDetailPrevious {
    padding-right: 14px;
}
@media (min-width: 768px) {
    .gallery .galleryDetailNext,
    .gallery .galleryDetailPrevious {
        top: 210px;
    }
}
.gallery .galleryDetailNext {
    right: 5px;
}
.gallery .galleryDetailPrevious {
    left: 5px;
}

.gallery .galleryDetailNext.inactive,
.gallery .galleryDetailPrevious.inactive {
    opacity: 0.5;
    cursor: default;
    display: inline;
}
.gallery #galleryDetailObjectInfo {
    padding-top: 10px;
    line-height: 1.8em;
}
.gallery #galleryDetailImageGrid {
    min-height: 300px;
}
.gallery #galleryDetailImageGrid img {
    width: 100%;
    height: auto;
    padding: 5px;
    border: 1px solid #dddddd;
    margin: 10px 0px 10px 0px;
}
.gallery #galleryDetailImageGrid .galleryIconActive img {
    background-color: #efefef;
}
.gallery .galleryIconHidden {
    display: none;
}
.gallery .setDescription {
    font-size: 13px;    font-weight: bold;
    line-height: 1.8em;
}
.gallery .galleryDetailBottom {
    clear: both;
    border-bottom: 1px solid #e3e3e3;
    padding-bottom: 10px;
    margin-bottom: 15px;
}
/* Universal viewer */
.detail .repViewerCont .uv {
    min-height: 500px;
}

/* bookreader */
.BookReaderContainer {
    width: 100%;
    height: 100% !important;
    min-height: 500px !important;
}
.DV-views {
    margin-left: 72px;
}
/* overlay (for object representations) */
#caMediaPanel {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    margin: 0px;
    padding: 0px;
    z-index: 31000; /* needs to be on top of menu bar, which has z-index=30000 */
    background-color: rgba(255, 255, 255, 0.7);
}
#caMediaPanel #close {
    float: right;
    width: 15px;
    height: 16px;
    margin: 10px;
}
#caMediaPanel #close a {
    text-decoration: none;
    font-size: 16px;
}
#caMediaPanelContentArea {
    width: 100%;
    height: 100%;
}

#caMediaOverlayContent {
    margin: 0px;
    width: 100%;
    height: 100%;
    overflow: auto;
    text-align: center;
}

div.caMediaOverlayControls {
    background-color: #000;
    color: #fff;
    font-size: 11px;
    text-align: center;
    position: absolute;
    padding: 10px 0px 10px 0px;
    width: 100%;
    bottom: 0px;
    left: 0px;
    z-index: 32000; /* needs to be on top of caMediaPanel, which has z-index=31000 */
    opacity: 0.5;
}

div.caMediaOverlayControlsMinimal {
    background-color: #000;
    color: #fff;
    font-size: 11px;
    text-align: center;
    position: absolute;
    padding: 5px;
    width: 32px;
    bottom: 0px;
    right: 0px;
    z-index: 32000; /* needs to be on top of caMediaPanel, which has z-index=31000 */
    opacity: 0.8;
}

div.caMediaOverlayControls:hover,
div.caMediaOverlayControlsMinimal:hover {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.5);
}
div.caMediaOverlayControls a {
    text-decoration: none;
    font-weight: bold;
    color: #fff;
}
div.caMediaOverlayControls a:hover {
    color: #fff;
}
div.caMediaOverlayControls .close {
    float: right;
    margin: 0px 10px 0px 20px;
    font-size: 22px;
    opacity: 0.9;
}
div.caMediaOverlayControls .download {
    float: right;
    margin: 2px 0 0 20px;
    font-size: 16px;
}
div.caMediaOverlayControls .objectInfo {
    font-size: 11px;
    color: #fff;
    padding-left: 10px;
    text-align: left;
    width: 40%;
    float: left;
}
div.caMediaOverlayControls .captionRight {
    float: left;
    width: 45%;
    margin-left: 25px;
    color: #fff;
    text-align: left;
    font-size: 14px;
    margin-bottom: 10px;
}
div.caMediaOverlayControls .captionLeft {
    float: left;
    width: 45%;
    margin-left: 15px;
    color: #fff;
    text-align: left;
    font-size: 14px;
    margin-bottom: 10px;
}
div.caMediaOverlayControls .recordLink {
    float: left;
    text-align: left;
    color: white;
    font-size: 13px;    margin-left: 15px;
    margin-bottom: 10px;
}
div.caMediaOverlayControls .recordLink a {
    font-size: 13px;}
div.caMediaOverlayControls .repNav {
    float: left;
    width: 16%;
    padding: 0px 2% 0px 2%;
    text-align: center;
    color: #fff;
}
div.caMediaOverlayRepThumbs {
    color: #fff;
    font-size: 11px;
    text-align: right;
    position: absolute;
    top: 60px;
    right: 11px;
    padding: 3px;
    z-index: 32000; /* needs to be on top of caMediaPanel, which has z-index=31000 */
    opacity: 0.3;
}
div.caMediaOverlayRepThumbs:hover {
    opacity: 1;
}
div.caMediaOverlayRepThumbs img {
    margin: 2px;
    border: 1px solid transparent;
}
div.caMediaOverlayRepThumbs a.selectedRep img {
    border: 1px solid #fff;
}

/* --------------------------------------------------------- */
/* Static Pages */
/* --------------------------------------------------------- */

.staticPage p {
    line-height: 1.8em;
}

/* --------------------------------------------------------- */
/* DOCUMENT VIEWER */
/* --------------------------------------------------------- */

.DV-controls {
    background: none;
    background-color: #efefef;
}

.DV-viewDocument .DV-views .DV-documentView span,
.DV-viewThumbnails .DV-views .DV-thumbnailsView span,
.DV-viewAnnotations .DV-views .DV-annotationView span,
.DV-viewText .DV-views .DV-textView span,
.DV-viewSearch .DV-views .DV-textView span {
    background: none;
}

.DV-pages,
.DV-paper {
    background: none;
    background-color: #fff;
}

.DV-header {
    border-bottom: 1px solid #ccc;
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.5);
    padding: 0;
    position: relative;
    z-index: 20000;
}

.DV-views div span {
    background: none;
    border-bottom: 0 none !important;
    color: #000000 !important;
}

.DV-viewDocument .DV-views .DV-documentView span,
.DV-viewThumbnails .DV-views .DV-thumbnailsView span,
.DV-viewAnnotations .DV-views .DV-annotationView span,
.DV-viewText .DV-views .DV-textView span,
.DV-viewSearch .DV-views .DV-textView span {
    background-position: 0 -40px;
    border-bottom-color: #a0a0a0;
    font-weight: normal;
    text-shadow: 0;
    background-color: #e6e7e8;
}

.DV-viewDocument .DV-views .DV-documentView span,
.DV-viewThumbnails .DV-views .DV-thumbnailsView span,
.DV-viewAnnotations .DV-views .DV-annotationView span,
.DV-viewText .DV-views .DV-textView span,
.DV-viewSearch .DV-views .DV-textView span {
    text-shadow: 0 0px 0 #ffffff;
}

.DV-searchInput {
    border: 1px solid #ccc;
    border-radius: 6px;
}

.DV-docViewer .DV-searchInput {
    background: url('data:image/png;charset=utf-8;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAK8AAACvABQqw0mAAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTM5jWRgMAAAFlSURBVCiRbY/NqqpgFIYfjxLiyEFCfyDZpElFRF5Pt1A3FN1BNyEqRATfSFAo+keCmuQn5PEMDsXZe59nuJ718q6lANxutzIMQ4QQ7HY7bNum1+vhui7ValXhH7Q0TcvlckkQBJ9hHMfEcczpdCJN09KyrE9IC8OQIAhot9uMRiM6nQ5JkrBarQjDkFqtxpcGIQQA4/EY13WpVCpYloWqqmy3W97+za/9fg/AYDDAMAx0XccwDPr9PgBv/wm0Wi0AoihC07S/tZpGFEUAvP0n0O12AfA8D9/3ybIM3/fxPA8Ax3G+/jAcDrler6zXa5Ik4TtCCO73e2mapgKgSCnLw+HAZrMhiiKOxyPNZhPHcRBCkKYp9Xqd2WyGaZqKAiClLLMsI89zXq8XmqahqiqPx4PFYsHlcqHRaDCdTtEAdF1XftwCPJ/PcjKZMJ/PkVIipeS/i2+KolDyPP99Pp8pigLbtvkDMDKl6nkCE08AAAAASUVORK5CYII=')
        no-repeat scroll 5px 5px #ffffff;
    border: 1px solid #ccc;
    display: block;
    font-family: Arial;
    font-size: 11px;
    line-height: 14px;
    margin: 2px 5px 0 0;
    outline: medium none;
    padding: 4px 20px 3px;
    width: 210px;
}
.DV-views div.DV-first span {
    border: 1px solid #cccccc;
}

.DV-views div.DV-last span {
    border: 1px solid #cccccc;
}

.DV-footer {
    background: none;
    background-color: #efefef;
    border-top: 1px solid #ccc;
    bottom: 0;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.05);
    color: #333333;
    height: 33px;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    text-shadow: 0 0px 0 #dddddd;
    z-index: 20000;
}

.DV-previous,
.DV-next {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-image: url('../graphics/buttons/docview_controls.png');
    background-repeat: no-repeat;
    /*border-color: #CCCCCC #BBBBBB #999999;*/
    border-image: none;
    border: 0;
    /* border-left: 1px solid #BBBBBB;
    border-radius: 2px;
    border-right: 1px solid #BBBBBB;
    border-style: solid;
    border-width: 1px;*/
    cursor: pointer;
    height: 22px;
    position: absolute;
    text-indent: -1000em;
    top: 0;
    width: 32px;
}

.DV-footer .DV-trigger,
.DV-fullscreen {
    border-width: 0;
}

.DV-currentPagePrefix,
.DV-currentPageSuffix,
.DV-currentAnnotationPrefix {
    color: #666666;
    font-size: 11px;
    text-transform: uppercase;
}

.DV-zoomLabel {
    color: #666;
    display: inline;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    margin: 3px 0 0 6px;
    padding: 3px 16px 0 0;
    position: relative;
    text-transform: uppercase;
}

.DV-narrowControls .DV-zoomBox {
    width: 80px;
}

/* --------------------------------------------------------- */
/* ARE THESE STYLES USED???????????????????????????????????? */
/* --------------------------------------------------------- */

/* browse overlay */
/*#caBrowsePanel {
	position: fixed; 
	top: 0; 
	left: 0;
	width: 100%; 
	height: 100%; 
	display: none;
	margin: 0px;
	padding: 0px;
	z-index: 31000;
}
#caBrowsePanel #close{
	float: right;
	width:15px;
	height:16px;
	margin:10px;
	background-image:url("../graphics/buttons/x.png");
}
#caBrowsePanel #close a{
	text-decoration:none;
	font-size:16px;
}
#caBrowsePanelContentArea {
	width: 100%; 
	height: 100%;
}*/
/* Basic Pages */

/*#pageTitle {
	float: left;
	width: 170px;
	background-color: #000;
	color: #fff;
	height: 245px;
	font-family: lato;
	padding: 15px 10px 20px 15px;
	font-size: 24px;
	margin-right:15px;
	line-height:24px;
}
#contentArea {
	width: 830px;
	float:right;
}
#timelineContentArea {
	width: 830px;
	float:right;
}*/
/*  TimelineJS	*/
.vco-storyjs,
.vco-storyjs p,
.vco-storyjs blockquote,
.vco-storyjs blockquote p,
.vco-storyjs .twitter blockquote p,
.vco-storyjs .vco-feature h1,
.vco-storyjs .vco-feature h2,
.vco-storyjs .vco-feature h3,
.vco-storyjs .vco-feature h4,
.vco-storyjs .vco-feature h5,
.vco-storyjs .vco-feature h6 {
    font-family: arial !important;
}
.vco-storyjs h3 {
    font-size: 16px;
    line-height: 18px;
}

.tl-text-content-container h2.tl-headline,
.tl-timeline h2.tl-headline-title {
    font-family: lato;
    text-transform: none;
    font-weight: normal;
}
.tl-timeline h2.tl-headline.tl-headline-title {
    font-size: 38px !important;
    line-height: 38px !important;
}
.tl-text-content-container h2.tl-headline {
    font-size: 28px !important;
    line-height: 28px !important;
}
.tl-timemarker-text h2,
.tl-slidenav-content-container .tl-slidenav-title,
.tl-slidenav-content-container .tl-slidenav-description {
    font-family: lato !important;
    text-transform: none !important;
    font-weight: normal;
}
.tl-text-content,
.tl-timeline p,
.tl-text p {
    font-family: LatoLight !important;
    color: #454545 !important;
}
.tl-timeline h1,
.tl-timeline h2,
.tl-timeline h3,
.tl-timeline h4,
.tl-timeline h5,
.tl-timeline h6 {
    font-family: lato !important;
    text-transform: none !important;
    font-weight: normal;
    font-size: 38px;
}
.tl-timemarker
    .tl-timemarker-content-container
    .tl-timemarker-content
    .tl-timemarker-text
    h2.tl-headline.tl-headline-fadeout::after,
.tl-timemarker
    .tl-timemarker-content-container
    .tl-timemarker-content
    .tl-timemarker-text
    h2.tl-headline
    p.tl-headline-fadeout::after {
    background: none !important;
}
.tl-timemarker
    .tl-timemarker-content-container
    .tl-timemarker-content
    .tl-timemarker-text
    h2.tl-headline,
.tl-timemarker
    .tl-timemarker-content-container
    .tl-timemarker-content
    .tl-timemarker-text
    h2.tl-headline
    p {
    height: 100% !important;
}
.tl-timemarker
    .tl-timemarker-content-container
    .tl-timemarker-content
    .tl-timemarker-text
    h2.tl-headline,
.tl-timemarker
    .tl-timemarker-content-container
    .tl-timemarker-content
    .tl-timemarker-text
    h2.tl-headline
    p {
    font-size: 12px !important;
}
.tl-timeline em {
    font-family: lato !important;
}

/* Advanced Search */

.advancedContainer {
    margin-top: 10px;
}
.advancedSearchField {
    margin-bottom: 10px;
}
.advancedSearchField .formLabel {
    text-transform: uppercase;
    color: #454545;
    font-size: 11px;
    font-family: lato;
}
.advancedFormSubmit {
    margin-bottom: 20px;
    margin-right: 20px;
    text-align: right;
}
.advancedFormSubmit a:hover {
    text-decoration: none;
    color: #fff;
}
.advancedFormSubmit span {
    display: inline-block;
}
.advancedSearchField input,
.advancedSearchField textarea,
.advancedSearchField select {
    width: 100% !important;
    resize: none;
    line-height: 1.5;
    border-radius: 3px;
    border: 1px solid #cccccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s,
        box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    font-size: 13px;    padding: 5px 10px;
    color: #555555;
}
.advancedSearchField select {
    height: 30px;
}
.advancedSearch table.attributeListItem {
    width: 100%;
}
/* Finding Aid */

.findingaid H1 {
    margin-bottom: 20px;
    color: #757575;
}
#findingAidCont {
    margin-top: 20px;
}
.collHeader a {
    font-family: lato;
    color: #414151;
    font-size: 16px;
}
.fa-angle-double-down.finding-aid,
.fa-square-o.finding-aid {
    float: left;
    padding: 4px 5px 4px 5px;
    margin: 0px 5px 0px 5px;
    border-radius: 4px;
}
.fa-angle-double-down.finding-aid:hover {
    background-color: #eee;
}
.fa-angle-right.finding-aid {
    float: left;
    padding: 4px 10px 4px 10px;
    font-weight: bold;
}
.collectionTile {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    margin-bottom: 15px;
    padding: 15px;
    font-size: 13px;
    line-height: 1.8em;
}
.collectionTile .title {
    padding-bottom: 10px;
    font-family: lato;
}
.collectionTile .title a {
    text-decoration: none;
    font-size: 14px;
}
    
}

/* tooltips */
.ui-tooltip {
    padding: 5px;
    /* min-width: 120px; */
    max-width: 300px;
    /* min-height: 50px; */
}

/* ----------------- print specific styles ----------------------*/
/* --- This overrides boostrap styles --- */
@media print {
    a[href]:after {
        content: '' !important;
    }
    abbr[title]:after {
        content: '' !important;
    }
    .navbar {
        display: block !important;
        border: 0px;
    }
    .nav,
    .navbar form {
        display: none;
    }
}

/**
 * 
 * ThreeSixty spinning image viewer
 *
 */
.threesixty {
    position: relative;
    margin: auto;
    text-align: left;
}
.threesixty .threesixty_images {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
}
.threesixty .threesixty_images img {
    position: absolute;
    top: 0;
    width: 100%;
    height: auto;
}
.threesixty .threesixty_images img.previous-image {
    visibility: hidden;
    /*
           Do not put here any other styles.
           It causes massive recalc / repaints and image flickering,
           especially on Firefox.
        */
}
.threesixty .threesixty_images img.current-image {
    visibility: visible;
    /*
           Do not put here any other styles.
           It causes massive recalc / repaints and image flickering,
           especially on Firefox.
        */
}
.threesixty .spinner {
    width: 60px;
    display: block;
    margin: 0 auto;
    height: 30px;
    background: #333;
    background: rgba(0, 0, 0, 0.7);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.threesixty .spinner span {
    font-family: Arial, 'MS Trebuchet', sans-serif;
    font-size: 13px;    font-weight: bolder;
    color: #fff;
    text-align: center;
    line-height: 30px;
    display: block;
}
.threesixty .nav_bar {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 11;
}
.threesixty .nav_bar a {
    display: block;
    width: 32px;
    height: 32px;
    float: left;
    background: url(../graphics/threesixty/sprites.png) no-repeat;
    text-indent: -99999px;
}
.threesixty .nav_bar a.nav_bar_play {
    background-position: 0 0 !important;
}
.threesixty .nav_bar a.nav_bar_previous {
    background-position: 0 -73px !important;
}
.threesixty .nav_bar a.nav_bar_stop {
    background-position: 0 -37px !important;
}
.threesixty .nav_bar a.nav_bar_next {
    background-position: 0 -104px !important;
}
/* html */
.threesixty:-webkit-full-screen {
    background: #ffffff;
    width: 100%;
    height: 100%;
    margin-top: 0;
    padding-top: 200px;
}
.threesixty:-moz-full-screen {
    background: #ffffff;
    width: 100%;
    height: 100%;
    margin-top: 0;
    padding-top: 200px;
}

input[type='text'].ui-autocomplete-loading {
    background: white url('../graphics/indicator.gif') right center no-repeat;
}

.video-js {
    min-height: 300px;
}
.video-js {
    text-align: center;
}
.detail .repViewerCont img.vjs-poster {
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-color: #000;
}

/* Fix for StoryMap/Leaflet conflict that results in StoryMap map markers rendered unclickable */
.leaflet-marker-icon {
    pointer-events: auto;
}

/* mirador */
.panel-thumbnail-view ul.panel-listing-thumbs li .thumb-label {
    color: #ffffff !important;
}
.mirador-viewer .fa,
.mirador-viewer .material-icons {
    color: #ffffff !important;
}
.mirador-viewer .image-list .fa {
    color: #000 !important;
}
